---
class: colors
title: Colors
order: 2
---
  
.container
  .block
    :markdown
      Below is the full pallet of base colors used in this site. All of these can be 
      changed via the `_settings.scss` file. Base color variables are located in 
      section 1.2.
.container
  .block.sm-12
    h2 The Rainbow
.container.sm-no-gutters.colors
  .block.sm-3.red
    figure.color-swatch
      span
      figcaption FF664E
  .block.sm-3.orange
    figure.color-swatch
      span
      figcaption FF924E
  .block.sm-3.yellow
    figure.color-swatch
      span
      figcaption FFC74E
  .block.sm-3.green
    figure.color-swatch
      span
      figcaption 92FF4E
  .block.sm-3.cyan
    figure.color-swatch
      span
      figcaption 4EE7FF
  .block.sm-3.blue
    figure.color-swatch
      span
      figcaption 4E86FF
  .block.sm-3.purple
    figure.color-swatch
      span
      figcaption C84EFF
  .block.sm-3.pink
    figure.color-swatch
      span
      figcaption FF4EE2
.container
  .block.sm-12
    h2 The Greyscale Rainbow
.container.wrap.colors-greyscale
  .block.sm-4.black
    figure.color-swatch
      span
      figcaption 222222
  .block.sm-4.grey-darker
    figure.color-swatch
      span
      figcaption 333333
  .block.sm-4.grey-dark
    figure.color-swatch
      span
      figcaption 5E5E5E
  .block.sm-12.grey
    figure.color-swatch
      span
      figcaption 343434
  .block.sm-4.grey-light
    figure.color-swatch
      span
      figcaption E5E5E5
  .block.sm-4.grey-lighter
    figure.color-swatch
      span
      figcaption EEEEEE
  .block.sm-4.white
    figure.color-swatch
      span
      figcaption FDFDFD
