---
layout: default
permalink: /my-work/
panes:
  - id: pen
    class: "above pen-pane"
    content: pen-dynamic-pane
    api: pens-api
---

<div class="wrapper">
  <div class="container">

    <div class="block">
      <h1>My Work</h1>

      <p>
        Quam diu etiam furor iste tuus nos eludet? Nihilne te nocturnum praesidium Palati,
        nihil urbis vigiliae. Morbi fringilla convallis sapien, id pulvinar odio volutpat.
        Quo usque tandem abutere, Catilina, patientia nostra?
      </p>
    </div>

  </div>
</div>

<ul class="cards portfolio">

  {% for pen in site.pens %}

  <li>
    <div class="card horizontal" data-card>

      <div class="card-options-bar">
        <button class="icon-button" data-card-close>
          {% include icon.html id="close" %}
        </button>

        <button
          class="button"
          data-inject="{{ pen.path | replace: '_pens/', '' | replace: '.html', '' }}"
          data-pane-open="pen">
          See More
        </button>

      </div>

      <!-- The Cover of the Card -->
      <div class="card-cover">

        <div class="card-thumbnail">
          <!-- TODO Set up Image stuff -->
          <img src="/assets/imgs/mock/soullessMark.png" alt="">
        </div>

        <div class="card-info">

          <h3>{{ pen.title }}</h3>

          <div class="tags-container">

            <ul class="tags">
            {% for tag in pen.tags %}
              <!-- TODO Set up links for tags? or maybe make is sort
              dynamically if you click a tag? hence interaction
              with the filter? -->
              <li>
                <!-- <a href=""> -->
                  {{ tag }}
                <!-- </a> -->
              </li>

            {% endfor %}
            </ul>

          </div>

        </div><!-- Card Info Close -->
      </div>

      <div class="bottom-container">
        <p>
          {{ pen.description }}
        </p>
      </div>

    </div><!-- Card Close -->
  </li>
  {% endfor %}

</ul>
