<div
  class="carousel-panes"
  data-carousel-panes>

  <!-- PANE - CENTER - Demo -->
  <div class="pane carousel-center">
    <div class="container" data-inject-bind="demo">

    </div>
  </div>
  <!-- PANE - LEFT - Details -->
  <div class="pane carousel-left">
    <div class="container" data-inject-bind="details">


    </div>
  </div>
  <!-- PANE - RIGHT - Code -->
  <div class="pane carousel-right">
    <div class="container" data-inject-bind="code.html">
    </div>
    <div class="container" data-inject-bind="code.css">
    </div>
    <div class="container" data-inject-bind="code.js">
    </div>
  </div>
</div>

<div class="fixed-bottom-bar">
  <div class="nav-bar">

    <button class="icon-button" data-panes-nav="left">
        <span class="icon">
          <svg><use xlink:href="#menu"></use></svg>
        </span>
     </button>

    <button class="icon-button" data-panes-nav="center">
      <span class="icon">
        <svg><use xlink:href="#menu"></use></svg>
      </span>
    </button>

    <button class="icon-button" data-panes-nav="right">
      <span class="icon">
        <svg><use xlink:href="#menu"></use></svg>
      </span>
    </button>

  </div>

  <div class="pane-carousel-title-bar container sm-row sm-nowrap">
    <div class="block sm-12">
      <h4>Left</h4>
    </div>
    <div class="block sm-12">
      <h4>Center</h4>
    </div>
    <div class="block sm-12">
      <h4>Right</h4>
    </div>
  </div>

</div>
