---
class: cards
title: Cards
order: 6
---
include ../../mixins/mixins.pug

//- .container.keep-gutters
//-   //- Card CLOSED/NON-EXPANDED
//-   .block.sm-12
//-     .card.horizontal.a-special-class(data-card='')
//-       //- Options Bar
//-       .card-options-bar
//-         button.icon-button(data-card-close='')
//-           +icon('close')
//-       //- Card Cover
//-       .card-cover
//-         //- Thumbnail
//-         .card-thumbnail
//-           img(src='path/to/image.png', title='Example Preview', alt='A preview of the Example Post')
//-         //- Info
//-         .card-info
//-           //- Title
//-           h3 Example
//-           //- Tags
//-           .tags-container
//-             ul.tags
//-               li foo
//-               li bar
//-       //- Description Content Container
//-       .bottom-container
//-         p
//-           | A fun description of stuff.

:markdown

  ## More Coming Soon.

  Cards have drastically changed, and currently are only usable with JavaScript. See 
  [the documentation on the pug mixin for more](http://brianhayes.me/docs/pug/cards/).
  
  **PLEASE NOTE:** *The documentation may currently be out of date with both the mixin,
  and the pug mixin as cards now use the Expand Javascript module and not the old Card
  module.*
