---
class: icons
title: Icons
order: 7
---

include ../../mixins/titled-callout.pug
include ../../mixins/icons.pug
-
  var icons = [
  //- Custom Icons
  'close', 'code', 'info', 'menu', 'arrow-left', 'arrow-right',
  //- Social Icons
  'codepen',
  'facebook',
  'github',
  'instagram',
  'linkedin',
  'pinterest',
  'stackoverflow',
  'twitter',
  'youtube'
  ];

.container
  .block.sm-12
    +titledCallout('Overview')
      :markdown
        Icons on this site are all inline SVGs. The use of SVG linking caused too many 
        issues for how little of a speed difference there was. Because of this it is 
        best to use the pug mixin for icons.
    

.container
  
  //- Loop?
  each name in icons
    .block.sm-12.md-6.lg-4
      .container
        .block.sm-12
          .container
            .block.sm-9
              h4 #{_.capitalize(name)}
            
            .block.sm-3
              span.icon
                +icon(name)
        //- Code Example
        .block.sm-12
          pre
            code.language-pug.
              #{'+icon(\''+  name  +'\')'}
