---
class: titled-callout
title: Titled Callout
order: 4
---

include ../../mixins/mixins.pug

:markdown
  ## Default Style

  ### Code Example

  ```html
  <div class="titled-callout">

    <div class="titled-callout-title">
      <h2>Title</h2>
    </div>

    <div class="titled-callout-inner">

      Content...

    </div>

  </div>
  ```

  ### Demo

+titledCallout('Content Block Thingy!')
  :markdown
    ### Here's an H3
    
    #### Here's an H4
    
    Curabitur blandit tempus ardua ridiculus sed magna. Fictum, deserunt mollit anim 
    laborum astutumque!
    
    #### Another h4
    
    Etiam habebis sem dicantur magna mollis euismod. Nec dubitamus multa iter quae et nos 
    invenerat. Praeterea iter est quasdam res quas ex communi. Nihilne te nocturnum 
    praesidium Palati.
    
    #### More More More H4
    
    Excepteur sint obcaecat cupiditat non proident culpa. Quid securi etiam tamquam eu 
    fugiat nulla pariatur. Cras mattis iudicium purus sit amet fermentum. Contra legem 
    facit qui id facit quod lex prohibet.
    
    
    
:markdown
  ## Different Colors
  
  By adding any color from the site's color palette as a class to the `.titled-callout` 
  div, the section can take on different color stylings.
  
  ### Available Classes

  - `.red`
  - `.orange`
  - `.yellow`
  - `.green`
  - `.cyan`
  - `.blue`
  - `.purple`
  - `.pink`
  
  ### Demos
  
- var colors = ['red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'purple', 'pink'];

each color in colors
  - var title = _.upperFirst(color) + '!';
  +titledCallout(title, color)
    :markdown
      ### Heading 3
      
      #### Heading 4
      
      Etiam habebis sem dicantur magna mollis euismod. Nec dubitamus multa iter quae et 
      nos invenerat. Praeterea iter est quasdam res quas ex communi. Nihilne te nocturnum 
      praesidium Palati.
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
