node_modules
bower_components

# ignore VS Code for now
.vscode

dist
build
src/metalsmith/mixins/mixins.pug
src/content/brianhayes.json
src/content/treehouse.json


# Code Dump Files
dump.js
mock

# Test Assets
test/tests.js
test/tests.js.map
