---
layout: no-header-footer
title: Test
permalink: /test-com/
---

<!-- <div class="top-bar">

</div> -->

<div class="fullscreen-panes">


  <div id="details" class="pane left"></div>
  <div id="demo" class="pane center"></div>
  <div id="code" class="pane right"></div>


</div>

<div class="fixed-bottom-bar">
  <div class="nav-bar">


    <a href="#details">
      {% include icon.html id="menu" %}
    </a>

    <a href="#demo">
      {% include icon.html id="menu" %}
    </a>

    <a href="#code">
      {% include icon.html id="menu" %}
    </a>


  </div>
</div>
