.background {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -100px;
  height: 140vh;
  width: 100vw;
  z-index: -100;
  perspective: 1000px;
  perspective-origin: center;
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    svg {
      height: 2500px;
    }
  }
  .layer-1 {
    transform: translateZ(-1000px) scale(2);
    .cls-1 {
      fill: #343434;
    }
  }
  .layer-2 {
    transform: translateZ(-700px) scale(2);
    .cls-1 {
      fill: #363636;
    }
  }
  .layer-3 {
    transform: translateZ(-400px) scale(2);
    .cls-1 {
      fill: #383838;
    }
  }
  .layer-4 {
    transform: translateZ(-200px) scale(2);
    .cls-1 {
      fill: #3a3a3a;
    }
  }
}
