button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  padding: 0.625rem;
}

.button,
a.button {
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 1rem;
  background: $button_background;
  color: $button_text-color;
  font-size: 1rem;
  line-height: $line-height_base;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: background 100ms ease-out;
  cursor: pointer;

  &:hover {
    background: darken($button_background, 20%);
  }

  span {
    flex: auto;
  }

  .icon {
    > svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
