button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  padding: 0.625rem;
}

button.icon-button {
  // Pointer events fix doesnt work, so this is the new fix.
  &::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: $icon-size;
    height: $icon-size;
    z-index: z("pane-icon-button");
  }
}

.button,
a.button {
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 1rem;
  background: $button_background;
  color: $button_text-color;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: background 100ms ease-out;
  cursor: pointer;

  &:hover {
    background: lighten($button_background, 10%);
  }

  span {
    flex: auto;
  }

  .icon {
    > svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

[data-modal-open],
[data-modal-close] {
  cursor: pointer;
}
