ul.cards {
  list-style: none;
  padding-left: 0;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  > li {
    flex: 1 0 to-rem(340);
    padding: 0 $grid_gutter;
  }
}

.card {
  box-shadow: 1px 2px 10px #111;
  // border-left: to-rem(6) solid $color-red;
  // margin-left: -#{to-rem(6)};

  .card-bottom {
    padding: 0.5rem 1rem;
  }

  margin-bottom: $spacing-unit_vertical;
}

.card.horizontal {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  // transition: height 200ms ease-out;

  .border-left {
    width: to-rem(6);
    margin-left: -#{to-rem(6)};
    position: absolute;
    background: $color-red;
    height: 100%;
    transition: height 200ms ease-out;
  }

  .card-cover {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row;
    background: $color-black;

    .car-info {
      flex: 0 1 auto;
    }

    .card-thumbnail {
      flex: 0 0 35%;
    }
  }

  .card-info {
    padding: 0.5rem 1rem;

    h3 {
      color: $color-red;
      font-size: to-rem(14);
      letter-spacing: 1px;
      margin-bottom: 0.4rem;
    }
  }

  .bottom-container {
    flex: 0 0 100%;
    background: lighten($color-red, 30%);
    color: $color-black;
    // height: 0;
    // visibility: hidden;
    // transition: height 200ms ease-out;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .card-options-bar {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: $color-red;
    // Styles to overwrite
    // height: 0;
    // visibility: hidden;
    // transition: height 200ms ease-out;
    .icon-button {
      &::before {
        padding: 1rem;
        height: 1rem;
        width: 1rem;
      }
    }

    .icon {
      flex: 0 1 2rem;
      height: 2rem;
      // width: 2rem;
      // padding-left: 0.5rem;

      > svg {
        fill: $color-black;
        // height: 1rem;
        // width: 1rem;
      }
    }

    .button {
      margin-left: auto;
      background: $color-red;
    }
  }
}
//**
// TRANSFORM METHOD
//*
// .card.horizontal {
//   .card-options-bar {
//     z-index: -1;
//     transform-origin: right;
//     transform: translateY(99%);
//     transition: transform 200ms ease-in, z-index 0ms ease-in 200ms;
//   }
//   .border-left {}
//   .bottom-container {
//     z-index: -1;
//     transform: translateY(-100%);
//     transition: transform 200ms ease-in;
//   }
//
//   &.expanded {
//     .card-options-bar {
//       z-index: 1;
//       transform: translateY(0);
//     }
//
//     .border-left {
//       height: calc(100% - 10px);
//     }
//
//     .bottom-container {
//       transform: translateY(0);
//     }
//   }
// }

//*
// HEIGHT METHOD
//**
.card.horizontal {
  .card-options-bar {
    height: 0;
    visibility: hidden;
    // transition: height 200ms ease-out;
  }
  .border-left {}
  .bottom-container {
    height: 0;
    visibility: hidden;
    // transition: height 200ms ease-out;
    padding: 0, $content-padding_base;
  }

  &.expanded {
    .card-options-bar {
      height: 100%;
      visibility: visible;
    }

    .border-left {
      height: calc(100% - 10px);
    }

    .bottom-container {
      height: 100%;
      visibility: visible;
      padding: $content-padding_base;
    }
  }
}
