@mixin generate-close-icon-colors {
  $_palette: map-keys($color-palette);

  @each $_color in $_palette {
    $_color-value: map-get($color-palette, $_color);
    &.#{$_color} {
      .icon-button {
        svg {
          fill: $_color-value;
        }
      }
    }
  }
}

@mixin generate-animation-border-color-classes {
  $_palette: map-keys($color-palette);

  @each $_color in $_palette {
    $_color-value: map-get($color-palette, $_color);
    &.#{$_color} {
      .animation_border-left {
        background: $_color-value;
      }
    }
  }
}

////
/// Base Styles
///

.titled-callout {
  @include generate-animation-border-color-classes;
  @include generate-close-icon-colors;

  .expandable-content {
    overflow: hidden;
  }
}



.titled-callout[data-responsive-state="active"] {
  will-change: transform;
  transform: none;
  ////
  /// Base Styles
  ///
  &[data-expand] {
    // Content
    // ======================= //
    .expandable-content {
      will-change: transform;
    }
    // Border
    // ======================= //
    .animation_border-left {
      position: absolute;
      width: $titled-callout_border-left-size;
      will-change: height;
    }
    // Icon
    // ======================= //
    .icon-button {
      svg {
        rect:nth-child(3) {
          will-change: transform;
        }
        rect:nth-child(2) {
          will-change: transform;
        }
      }
    }
  }
  ////
  /// Collapsed Styles
  ///
  &[data-expand="collapsed"] {
    &.animation_in-progress {
      .icon-button {
        flex: 0 1;
        padding: to-rem(10);
        width: 100%;
      }
    }
    // Content
    // ======================= //
    .expandable-content {
      padding: 0;
      height: 0px;
      transform: translate3d(110%, 0, 0);
    }
    // Border
    // ======================= //
    .animation_border-left {
      height: 0px;
    }
    // Icon
    // ======================= //
    .icon-button {
      opacity: 0;
      svg {
        rect:nth-child(3) {
          // transform: translate(0, 0) rotate(0);
          transform: none;
        }
        rect:nth-child(2) {
          // transform: translate(0, 0) rotate(0);
          transform: none;
        }
      }
    }
  }
  ////
  /// Expanded Styles
  ///
  &[data-expand="expanded"] {
    // Content
    // ======================= //
    .expandable-content {
      height: calc(100vh - 100px);
      overflow-y: auto;
      transform: none;
    }
    // Border
    // ======================= //
    .animation_border-left {
      height: 100%;
      max-height: calc(100% - #{$titled-callout_content_bottom-extension});
    }
    // Icon
    // ======================= //
    .icon-button {
      opacity: 1;
      svg {
        rect:nth-child(3) {
          transform: translate3d(-6.63px, 16px, 0) rotate(-45deg);
        }
        rect:nth-child(2) {
          transform: translate3d(16px, 38.63px, 0) rotate(-135deg);
        }
      }
    }
  }
}

////
/// Animation Styles
///
.titled-callout {
  transition: transform 600ms ease;
  ////
  /// Collapsing Transitions
  ///
  &[data-expand="collapsed"] {
    // Content
    // ======================= //
    .expandable-content {
      transition: transform 300ms ease, height 0ms 300ms ease;
    }
    // Border
    // ======================= //
    .animation_border-left {
      transition: height 300ms 100ms ease;
    }
    // Icon
    // ======================= //
    .icon-button {
      transition: opacity 100ms 200ms ease;
      svg {
        rect:nth-child(3) {
          transition: transform 300ms ease;
        }
        rect:nth-child(2) {
          transition: transform 300ms ease;
        }
      }
    }
  }
  ////
  /// Expanding Transitions
  ///
  &[data-expand="expanded"] {
    // Content
    // ======================= //
    .expandable-content {
      transition: transform 300ms 700ms ease, height 0ms 400ms;
    }
    // Border
    // ======================= //
    .animation_border-left {
      transition: height 300ms 600ms ease;
    }
    // Icon
    // ======================= //
    .icon-button {
      transition: opacity 100ms 700ms ease;
      svg {
        rect:nth-child(3) {
          transition: transform 300ms 700ms ease;
        }
        rect:nth-child(2) {
          transition: transform 300ms 700ms ease;
        }
      }
    }
  }
}





////
/// Transitions for moving out of the way
///
.about-me {
  .titled-callout[data-expand="collapsed"] {
    transition: transform 300ms ease-out;
    &:not(.animation_in-progress) {
      transition: transform 300ms ease-out;
    }
  }
}

.my-skills {
  .titled-callout[data-expand="collapsed"] {
    transition: transform 300ms 100ms ease-out;
    &:not(.animation_in-progress) {
      transition: transform 300ms 100ms ease-out;
    }
  }
}

.my-work {
  .titled-callout[data-expand="collapsed"] {
    transition: transform 300ms 200ms ease-out;
    &:not(.animation_in-progress) {
      transition: transform 300ms 200ms ease-out;
    }
  }
}

////
/// Animate other tabs to move off-screen
///
main.content.animation_expanding-tabs_tab-active {
  overflow: hidden;

  [data-expand="collapsed"] {
    transform-origin: 50% 50%;
    transform: translate3d(0, 1000%, 0);
    will-change: transform;

    &.animation_in-progress {
      transform: none;
    }
  }
}
