.site-footer {
  h1, h2, h3, h4, h5, h6 {
    color: $color-grey;
  }
  a {
    color: $color-grey_dark;
    &:hover {
      color: $color-cyan;
    }
  }
  background: $color-black;
  padding: 2rem 0 4rem;
  .copyright-info {
    margin-bottom: $spacing-unit_vertical;
    color: $color-grey_dark;
  }
  .email {
    color: $color-grey_dark;
    letter-spacing: 2px;
    margin-bottom: $spacing-unit_vertical;
  }
  .social-icons {
    svg {
      fill: $color-grey_dark;
    }
  }
}
