

.loading-screen {
  position: fixed;
  z-index: z('loading-screen');
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background: $color-black;

  .middle {
    .svg-wrapper {
      margin: 0 auto;
      width: 50%;
      height: auto;
    }
    svg {
      .mark-logo-hair {
        fill: $color-red;
      }

      .mark-logo-bottom {
        fill: $color-white;
      }
    }
  }

  &.animation_loading-screen {
    &_in_animate {

    }
    &_loading_animate {
      .middle {
        .svg-wrapper {
          animation: 600ms ease infinite spin_pulse;
        }
      }

    }
    &_out_animate {
      animation: 200ms ease 1 fade_out;
      .middle {
        .svg-wrapper {
          animation: 200ms ease 1 blow_up_fade_out;
        }
      }

    }
  }
}

.loading-screen.loading-complete {
  display: none;
  * {
    display: none;
  }
}
