////
/// Navigation
///
/// @since 0.1.0
///

.site-header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: z("site-header");
}

.main-nav-pane {
  background: $color-grey_darker;
  .pane-content {
    padding-top: 0;
  }
  .pane-header {
    .icon-button {
      background: $color-red;
      svg {
        fill: $color-black;
      }
    }
  }

  &[data-responsive-state="inactive"] {
    position: relative;
    width: 20%;
    .pane-header {
      display: none;
    }
    .pane-content {
      position: fixed;
      top: 0;
      width: 20%;
      background: $color-grey_darker;
      height: 100vh;
      // padding-top: $spacing-unit_vertical;
    }
  }
}
.nav-header {
  h1 {
    padding-top: $topbar_height;
    font-size: 1.4rem;
    background: $color-red;
    color: $color-black;
    padding: $topbar_height $grid_gutter $grid_gutter;
    margin-left: -#{$grid_gutter};
    margin-right: -#{$grid_gutter};
    margin-bottom: 0;

    @include mq('lg') {
      padding: $grid_gutter;
    }
    a {
      color: $color-black;
    }
  }
}
.main-nav {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  text-align: center;

  margin-bottom: $spacing-unit_vertical;
  .icon-bar {
    a.icon {
      > svg {
        fill: $color-grey;
      }
    }
  }
  a {
    padding: 0.25rem;
    font-size: 1rem;
    color: $navigation-color_link;
    margin: auto;
    transition: color ease-in 100ms;

    &:hover {
      color: $navigation-color_link-hover;
    }

  }

  h2 {
    font-size: 1rem;
    padding: $grid_gutter;
    margin-left: -#{$grid_gutter};
    margin-right: -#{$grid_gutter};
    background: $color-black;
  }
  h3 {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
}


ul.nav-vertical {
  list-style: none;
  padding-left: 0;
  li {
    padding: to-rem(5);
    a {
      display: block;
      color: $color-white;
      letter-spacing: 1px;
      &:hover {
        color: $navigation-color_link-hover;
      }
    }
  }
}

ul.nav-horizontal {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
    padding-right: to-rem(16);
    margin-bottom: $spacing-unit_vertical-paragraph;
    a {
      letter-spacing: 2px;
    }
  }
}

.open-menu {
  @include mq('xl') {
    display: none;
  }
}

.contact-email {
  margin-left: 1rem;
  a {
    letter-spacing: 2px;
  }
}

.open-menu {
  svg {
    // fill: $color-black;
    rect {
      // fill: $color-black;
      mix-blend-mode: difference;
    }
  }
}
