
.carousel-panes {
  > .pane {
    &.carousel-left {
      background: $color-yellow;
      color: $color-black;

      h1 {
        color: $color-black;
      }

      .button {
        background: darken($color-yellow, 30%);
        margin: 1rem auto;
      }

      .icon > svg {
        fill: darken($color-yellow, 30%);
      }
    }

    &.carousel-center {
      background: $color-cyan;
      color: $color-black;

      h1 {
        color: $color-black;
      }

      img {
        max-height: 10rem;
        width: auto;
        margin: 1rem auto 2rem;
      }
    }

    &.carousel-right {
      background: $color-purple;
      color: $color-black;

      h1 {
        color: $color-white;
      }

      h3 {
        color: $color-white;
        background: darken($color-purple, 30%);
        padding: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
}

.pane-header {
  position: fixed;
  width: 100%;
  z-index: z('pane-top-bar');

  .icon-button {
    background: $color-grey_darker;
  }
}

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;

  button,
  a {
    flex: 0 1;
  }

  a {
    &:active,
    &:focus,
    &:hover {
      .icon > svg {
        fill: $color-pink;
      }
    }
  }
}

.pane-carousel-title-bar {
  h4 {
    margin-bottom: 0;
    padding: 0.5rem 0;
    text-transform: uppercase;
  }

  .block:nth-child(1) {
    h4 {
      color: $color-yellow;
    }
  }

  .block:nth-child(2) {
    h4 {
      color: $color-cyan;
    }
  }

  .block:nth-child(3) {
    h4 {
      color: $color-purple;
    }
  }
}
