@mixin generate_skills-color-classes {
  $_palette: map-keys($color-palette);

  @each $_color in $_palette {
    $_color-value: map-get($color-palette, $_color);
    &.#{$_color} {
      .title {
        color: $_color-value;
      }
      .rating {
        .meter {
          background: $_color-value;
        }
      }
    }
  }
}

// .skill {
//   display: flex;
//   flex-flow: row nowrap;
//   margin-bottom: 1rem;
//   .title {
//     flex: 0 1 40%;
//     padding: $titled-callout_title-padding;
//     margin-bottom: 0;
//     background: $color-black;
//     color: $color-red;
//     font-size: 0.625rem;
//     letter-spacing: 3px;
//     text-transform: uppercase;
//   }
//   .rating {
//     flex: 0 1 60%;
//     .meter {
//       background: $color-red;
//       height: 100%;
//     }
//   }
//   @include generate_skills-color-classes;
// }

.skill {
  margin-bottom: 1rem;
  .title {
    display: block;
    min-width: 9.5rem;
    width: 30%;
    padding: $titled-callout_title-padding;
    margin-left: -#{$titled-callout_title_left-extension};
    margin-right: $titled-callout_content_right-extension;
    margin-bottom: 0;
    background: $color-black;
    color: $color-red;
    font-size: 0.625rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .rating {
    height: 0.625rem;
    width: 100%;
    .meter {
      background: $color-red;
      height: 100%;
    }
  }
  @include generate_skills-color-classes;
}
