@mixin generate_skills-color-classes {
  $_palette: map-keys($color-palette);

  @each $_color in $_palette {
    $_color-value: map-get($color-palette, $_color);
    &.#{$_color} {
      .title {
        color: $_color-value;
      }
      .rating {
        .meter {
          background: $_color-value;
        }
      }
    }
  }
}

.skill {
  display: flex;
  flex-flow: row nowrap;
  .title {
    flex: 0 1 40%;
    padding: $titled-callout_title-padding;
    margin-bottom: 0;
    background: $color-black;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .rating {
    flex: 0 1 60%;
    .meter {
      background: $color-yellow;
      height: 100%;
    }
  }
  @include generate_skills-color-classes;
}
