---
type: utility
title: Inject
category: extension

---

extends ../../layouts/doc.pug

block description
  p.
    A UI Module extension utility meant to add methods for injecting dynamic content
    via AJAX. 
block main
  :markdown
    ## Overview
    
    This module is meant to add usable methods and data attributes to a UI module for
    injecting dynamic content into specified containers.
    
    ## How to Use
    
    This module is meant to be constructed inside a UI modules constructor, and passed 
    the `element` DOM object passed to the UI modules constructor. This gives access to
    the exposed methods of the Inject module, as well as all availbale data attributes.
    
    The example below shows the simplist way to extend a UI module with the Inject module:
    
    ```js
    class Example {
      constructor(element, options) {
        this.inject = new Gingabulous.Inject(element);
      }
    }
    ```
    
    ### API
    
    #### `updateContent(key)`
    
    This module has one method to be used within the parent UI module it is extending.
    The method takes a single argument, `key`, which must be a string of the object key, 
    or the chain. 
    
    *NOTE: do not include the parent object of the chain. 
    Just the cahin within the object.*
    
    
