.container.recent-badges
  .block.sm-12
    h1 My Most Recent Badges
  .block.sm-12
    ul.container.badge-grid
      if data.treehouse.badges
        - var i = 0;
        - var badges = _.orderBy(data.treehouse.badges, 'earned_date', 'desc');
        
        while i < 10
          li.treehouse-badge.block.sm-6
            a(href=badges[i].url target="_blank")
              h4=badges[i].name
              img(alt=badges[i].name src=badges[i]['icon_url'])
          - i++
