.container.treehouse-tracks
  .block.sm-12
    h1 My Tracks
  .block.sm-12
    ul.container.tracks-list
      li.block.sm-12
        +treehouseTrack('Web Design', 'https://teamtreehouse.com/tracks/web-design')
          p.
            In this track, we'll learn everything necessary to build basic websites. 
            The code of every website is split into three layers: Structural, Behavioral, 
            and Presentational.  In this track, we'll explore two of the three layers: 
            HTML and CSS.
      li.block.sm-12
        +treehouseTrack('Development for WordPress', 'https://teamtreehouse.com/tracks/development-for-wordpress')
          p.
            The WordPress Development Track aims to prepare students to work in the field 
            as beginning WordPress theme or plugin developers.
      li.block.sm-12
        +treehouseTrack('Full Stack JavaScript', 'https://teamtreehouse.com/tracks/full-stack-javascript', [22, 12])
          p.
            Learn JavaScript, jQuery, Node.js, and Gulp to become a professional JavaScript Developer.
      li.block.sm-12
        +treehouseTrack('Learn React', 'https://teamtreehouse.com/tracks/learn-react', [8, 3])
          p.
            Learn React, a popular JavaScript library for building user interfaces.
