<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include icons.html %}

    <div class="site-wrapper panes" data-panes>

      <!-- Panes -->
      {% if page.panes %}
      {% for pane in page.panes %}

      {% include ui/pane.html id=pane.id class=pane.class content=pane.content  api=pane.api %}

      {% endfor %}
      {% endif %}

      {% include panes/main-nav.html %}

      <div class="site-inner main-pane" data-pane="home">
        {% include panes/header.html %}
        <!-- Main Content -->
        <main class="content">
          {{ content }}
        </main>

        {% include footer.html %}
      </div>

    </div>
    {% include scripts.html %}

  </body>

</html>
