<!DOCTYPE html>
<html>

  {% include styleguide/head.html %}

  <body class="styleguide">

    {% include icons.html %}

    {% include styleguide/header.html %}

    {% if page.overlays %}
      {% for overlay in page.overlays %}

        {% include overlay.html id=overlay.id class=overlay.class content=overlay.content%}

      {% endfor %}
    {% endif %}

    <div class="site-inner">
      <main class="content">

        {{ content }}

      </main>

      {% include footer.html %}

    </div>

    {% include scripts.html %}

  </body>

</html>
