mixin icon(name)
  svg(
    preserveAspectRatio='xMidYMid meet'
    viewBox='0 0 32 32'
    xmlns='http://www.w3.org/2000/svg'
  )
    title #{name}
    case name
      //- Custom Icons
      when 'menu': include ../includes/icons/menu.pug
      when 'close': include ../includes/icons/close.pug
      when 'code': include ../includes/icons/code.pug
      when 'info': include ../includes/icons/info.pug
      //- Social Icons
      when 'behance': include ../includes/icons/behance.pug
      when 'codepen': include ../includes/icons/codepen.pug
      when 'facebook': include ../includes/icons/facebook.pug
      when 'github': include ../includes/icons/github.pug
      when 'instagram': include ../includes/icons/instagram.pug
      when 'linkedin': include ../includes/icons/linkedin.pug
      when 'pinterest': include ../includes/icons/pinterest.pug
      when 'stackoverflow': include ../includes/icons/stack-overflow.pug
      when 'twitter': include ../includes/icons/twitter.pug
      when 'vimeo': include ../includes/icons/vimeo.pug
      when 'youtube': include ../includes/icons/youtube.pug
      //- Error if no icon exist with the given name
      default: .error No icon found.
