mixin pane(id, position, classes, dataAtts)
  - var data = {};
  - dataAtts = dataAtts || {};
  //- Deal with API
  if dataAtts.api
    - data['data-inject-api'] = helpers.url(`/api/${dataAtts.api}.json`);
    //- deal with responsive data attr
  if dataAtts.responsive
    - data['data-responsive'] = dataAtts.responsive;
  .pane(
    class=[position, classes]
    data-pane=id
    )&attributes(data)
      .pane-header
        .top-bar
          .left
            button.icon-button(data-pane-close='')
              +icon('close')
      .pane-content
        block
  
