include icons.pug

mixin titledCallout(title, color, expandable, breakpoints, animation)
  - var isExpandable = expandable || false;
  - var animation = animation || false;
  - breakpoints = breakpoints || ''; 
  - 
    var expand = {
      dataAttr: {'data-expand': ''},
      open: {'data-expand-open': ''},
      close: {'data-expand-close': ''},
      content: {'data-expand-content': ''}
    };
  //- Handle Classes
  - var titledCalloutClasses = isExpandable ? [color, 'expandable'] : block ? color : [color, 'no-content'];
  - var contentClasses = isExpandable ? 'expandable-content' : '';
  //- Handle Atts
  - 
    var titledCalloutAtts = isExpandable && animation !== false ?
      {'data-expand': '', 'data-responsive': breakpoints, 'data-animation': animation} :
      isExpandable && animation === false ? 
      {'data-expand': '', 'data-responsive': breakpoints} : 
      {};
  //- if animation 
  //-   - titledCallout['data-animation'] = animation;
  - var openElementAtts = isExpandable ? expand.open : {};
  //- var closeElementAtts = isExpandable ? expand.close : {};
  - var contentElementAtts = isExpandable ? expand.close : {};
  
    .titled-callout(class=titledCalloutClasses)&attributes(titledCalloutAtts)
      //- Heading
      if animation
        .animation_border-left
      .titled-callout-heading
        h2&attributes(openElementAtts) #{title}
        if isExpandable
          button.icon-button(data-expand-close='')
            +icon('close')
      if block || isExpandable
        //- Content
        .titled-callout-content-wrapper(class=contentClasses)&attributes(contentElementAtts)
          .titled-callout-content
            block
