mixin titledCallout(title, color, expandingTab)
  if block
    
    .titled-callout(class=color)
      .titled-callout-title
        h2= title
      .titled-callout-inner
        block
  else
    
    .titled-callout.no-content(class=color)
      .titled-callout-title
        h2= title
