mixin treehouseTrack(title, url, progress)
  - var titleClass = _.toLower(_.replace(title, new RegExp(' ','g'), '-'));
  - progress = progress || false; 
  a(href=url target='_blank' class=titleClass).track
    .track-heading
      h3=title
    .track-progress
      if progress
        - var i = 0;
        .progress-container
          while i < progress[0]
            if i < progress[1]
              .progress-circle.completed
            else
              .progress-circle
            - i++
      else
        span.icon
          +icon('check')
        span Completed
    .track-description
      if block
        block
      .track-see-more
        .content-wrapper
          span Go To The Track
          span.icon
            +icon('arrow-right')
