<header class="site-header">

  <div class="top-bar">

    <div class="left">
      <button class="icon-button overlay-open" data-overlay-open="mainNav">
        <span class="icon menu">
          {{ site.icons.menu }}
        </span>
      </button>
    </div>

    <div class="center">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="/assets/imgs/main/mark_logo.svg" alt="">
      </a>
    </div>


  </div>

</header>

<div class="overlay nav-overlay" data-overlay="mainNav">

  <div class="overlay-header">
    <div class="top-bar">
      <div class="left">
        <button class=" icon-button overlay-close" data-overlay-close="mainNav">
          <span class="icon close">
            {{ site.icons.close }}
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="overlay-content">

    <nav class="main-nav">

      <a href="{{ site.baseurl }}/my-work/" class="my-work">My Work</a>

      <a href="{{ site.baseurl }}/skills/" class="my-skills">My Skills</a>

      <a href="{{ site.baseurl }}/about/" class="about-me">About Me</a>

      <a href="{{ site.baseurl }}/blog/" class="blog">Blog</a>

    </nav>

    <div class="social-bar">
      <!-- TODO: A loop would probably be good here. Figure that out eventually. -->
    </div>

    <!-- IDEA: Footer for contact info? -->
  </div>

</div>
