// TODO Document heading sizes mixin.
@mixin generate_heading-sizes {

  $_maps: map-keys($font-heading_sizes);

  @each $_map in $_maps {

    $_media: map-get($font-heading_sizes, $_map);

    $_keys: map-keys($_media);

    @include mq(#{$_map}) {
      @each $_key in $_keys {
        #{$_key} {
          font-size: to-rem(map-get($_media, $_key));
        }
        // @debug $_key;
      }
    }
  }
}

// Typography resets
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  font: {
    family: $font-body_family;
    size: $font-size_base;
    weight: $font-body_weight;
  }

  color: $font-body_color;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  line-height: $line-height_base;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading_family;
  font-weight: $font-heading_weight;
  color: $font-heading_color;
  margin-top: 0;
  // margin-bottom: $spacing-unit_vertical-heading;
}

h1 {
  margin-bottom: $font-heading_vr_large;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $font-heading_vr_base;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ul + h6,
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6 {
  margin-top: $vertical-rhythm * 3;
}



h1,
h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
}

h2 {
  color: $font-heading_color;
}

@include generate_heading-sizes;

.section-heading {
  background: $color-black;
  margin-bottom: $spacing-unit_vertical;

  h1 {
    margin-bottom: 0;
    padding: $section-heading_padding;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

// Paragraphs
p {
  margin-bottom: $spacing-unit_vertical-paragraph;

  &:last-child {
    // margin-bottom: $spacing-unit_vertical;
  }
}

// Bold
strong {
  font-weight: $font-weight_bold;
  line-height: inherit;
}
// Italisized
em {
  font-style: italic;
  line-height: inherit;
}
// Small Text
small {
  font-size: $font-size_small;
  line-height: inherit;
}

// Links
a {
  color: $link-color;
  text-decoration: $link-decoration;
  line-height: inherit;
  transition: color 100ms ease-in;

  &:hover,
  &:focus {
    color: $link-color_hover;
  }

  &:visited {
    color: $link-color_visted;
  }
}

// Horizontal Rule
hr {
  width: $horizontal-rule_width;
  height: 0;
  border: {
    right: 0;
    top: 0;
    bottom: $horizontal-rule_border;
    left: 0;
  }

  margin: 0 auto $horizontal-rule_margin-bottom;
}

// Lists
ul,
ol {
  padding-left: $list_margin-left;
  margin-bottom: $list_margin-bottom;
}

li {
  margin-bottom: $list-item_margin-bottom;
  // Nested Lists
  > ul,
  > ol {
    // margin-left: $nested-list_margin-left;
    margin-top: $list-item_margin-bottom;
    margin-bottom: 0; 
  }
}

// Blockquotes
blockquote {
  margin-left: $blockquote_margin-left;
  border-left: $blockquote_border-left;
  padding: 1rem 1rem 1rem $blockquote_padding-left;
  background: lighten($blockquote-border_color, 33%);
  color: $color-black;
  margin-bottom: $vertical-rhythm;

  cite {
    display: block;
    text-align: right;
    width: auto;
    background: $blockquote-border_color;
    color: $color-white;
    padding: $blockquote-padding_left;
    margin: 1rem -1rem -1rem -#{$blockquote-padding_left};
    // margin-top: 1rem;
    // margin-left: -#{$blockquote-padding_left};
    // margin-right: -1rem;
  }
  p {
    margin-bottom: 0;
  }
}
// Citations
cite {
  font-size: $font-size_small;
}
// Tables
table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  background: $table_background;
  color: $color-black;
  margin-bottom: $spacing-unit_vertical;

  thead {
    background-color: $table-header_background;
    color: $table-header_color;
    font-family: $font-heading_family;
    font-weight: $font-heading_weight;

    th {
      padding: $table-header_padding;
    }
  }

  tr {
    &:nth-child(2n) {
      background: rgba(200, 78, 255, 0.2);
    }
  }

  td {
    padding: $table-cell_padding;

    &:nth-child(2n) {
      background: rgba(200, 78, 255, 0.2);
    }
  }
}

pre {
  width: 100%;
  padding: $code-block_padding;
  margin-bottom: $spacing-unit_vertical;
  overflow: auto;
  line-height: 1;
  @include mq('md') {
    line-height: 1.4;
  }

  code {
    display: inline;
    font-size: $code-block_font-size;

    @include mq('md') {
      font-size: $font-size_base;
    }

    background-color: $code-block_background;
    color: $color-white;
  }

  > code {
    line-height: 0;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Inline Code
code {
  display: inline-block;
  border-radius: 0.3rem;
  padding: $inline-code_padding;
  margin: {
    left: $inline-code_margin;
    right: $inline-code_margin;
  }

  background: $inline-code_background;
  color: $inline-code_text-color;
  line-height: $line-height_base;
  font-family: $font-family_mono;
  font-size: $font-size_base;
  font-weight: $font-weight_mono;
}
