.background(data-background='' aria-label='hidden')
  .layer.layer-1
    svg(data-name='layer 1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 2000')
      rect.cls-1(x='-594.53', y='1103', width='2165.06', height='60', transform='translate(-733.33 959.24) rotate(-58.6)')
      rect.cls-1(x='-642.1', y='614', width='1545.2', height='60', transform='translate(-525.99 616.06) rotate(-76.11)')
      rect.cls-1(x='-201.01', y='1323.5', width='1317.05', height='60', transform='translate(-426.78 231.31) rotate(-19.56)')
      rect.cls-1(x='-278.97', y='534.12', width='1679.45', height='60', transform='translate(-228.9 468.56) rotate(-38.27)')
      rect.cls-1(x='-105.89', y='1788.9', width='1222.78', height='60', transform='matrix(0.99, -0.16, 0.16, 0.99, -284.72, 104.41)')
  .layer.layer-2
    svg(data-name='layer 2', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 2000')
      rect.cls-1(x='443', y='-153.6', width='60', height='2294.19', transform='translate(-263.59 176.06) rotate(-16.56)')
      rect.cls-1(x='473', y='-357.25', width='60', height='1611.57', transform='translate(-170.02 483.78) rotate(-44.72)')
      rect.cls-1(x='696.89', y='-420.91', width='60', height='1121.81', transform='translate(324.93 761.61) rotate(-68.01)')
      rect.cls-1(x='285.5', y='1400.81', width='60', height='865.38', transform='translate(-1417.43 1156.59) rotate(-58.9)')
      rect.cls-1(x='-78.55', y='484.29', width='1379.11', height='60', transform='translate(-41.96 54.44) rotate(-4.93)')
      rect.cls-1(x='340.5', y='559.66', width='60', height='1863.68', transform='translate(-699.65 388.49) rotate(-30.18)')
  .layer.layer-3
    svg(data-name='layer 3', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 2000')
      rect.cls-1(x='413', y='92.7', width='60', height='1574.59', transform='translate(-483.84 545.9) rotate(-43.46)')
      rect.cls-1(x='766.5', y='-279.65', width='60', height='2483.3', transform='translate(-161.47 160.65) rotate(-10.46)')
      rect.cls-1(x='-174.13', y='1051.72', width='1465.72', height='60', transform='translate(-337.55 257.72) rotate(-20.09)')
      rect.cls-1(x='-68.12', y='81.23', width='1133.24', height='60', transform='translate(-12.26 109.24) rotate(-12.35)')
      rect.cls-1(x='484.25', y='898.06', width='60', height='1509.15', transform='translate(-1127.88 1105.76) rotate(-54.3)')
  .layer.layer-4 
    svg(data-name='layer 4', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 2000')
      rect.cls-1(x='474.73', y='949.09', width='60', height='1226.84', transform='translate(-1121.33 1790.83) rotate(-80.09)')
      rect.cls-1(x='-732.56', y='953', width='2183.12', height='60', transform='translate(-672.32 1160.62) rotate(-79.71)')
      rect.cls-1(x='858.5', y='-108.41', width='60', height='1552.82', transform='translate(-120.75 202.08) rotate(-12.16)')
      rect.cls-1(x='455.75', y='534.57', width='60', height='1367.83', transform='translate(-807.67 1000.05) rotate(-58.68)')
      rect.cls-1(x='555.5', y='-395.46', width='60', height='1474.93', transform='translate(19.91 716.01) rotate(-63.77)')
      rect.cls-1(x='504.93', y='19.16', width='60', height='1498.27', transform='matrix(0.64, -0.77, 0.77, 0.64, -397.5, 684.62)')
