.background(data-background='' aria-label='hidden')
  
  .layer.layer-1
    svg(data-name='layer 1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 2500 4000')
      rect.cls-1(x='-806.6', y='336', width='3509.19', height='60', transform='translate(-55.49 205.8) rotate(-12.04)')
      rect.cls-1(x='-1390.01', y='1332.5', width='3910.02', height='60', transform='translate(-909.99 1355.86) rotate(-67.22)')
      rect.cls-1(x='-579.53', y='1984', width='3684.06', height='60', transform='translate(-122.24 82.01) rotate(-3.55)')
      rect.cls-1(x='-415.49', y='1199.5', width='3313.97', height='60', transform='translate(-195.72 235.83) rotate(-10.06)')
      rect.cls-1(x='1349.5', y='876.85', width='60', height='3698.3', transform='translate(-1648.26 2317.61) rotate(-55.48)')
      rect.cls-1(x='-563.2', y='2454.5', width='3598.4', height='60', transform='translate(-1256.39 1264.49) rotate(-37.47)')
      rect.cls-1(x='-829.23', y='1866.5', width='4680.45', height='60', transform='translate(-467.72 3298.11) rotate(-86.77)')
      rect.cls-1(x='1253.5', y='-1162.07', width='60', height='3250.15', transform='translate(325.25 1434.34) rotate(-65.22)')
      rect.cls-1(x='1322.5', y='-657.89', width='60', height='3899.79', transform='translate(-479.18 1670.76) rotate(-55.37)')
      rect.cls-1(x='1181.5', y='795.53', width='60', height='4117.93', transform='translate(-1866.16 3233.86) rotate(-74.03)')
      rect.cls-1(x='2365', y='-534.71', width='60', height='2043.42', transform='translate(50.43 1177.07) rotate(-27.89)')
      rect.cls-1(x='1191', y='-353.98', width='60', height='2777.97', transform='matrix(0.19, -0.98, 0.98, 0.19, -22.05, 2043.41)')
      rect.cls-1(x='-107.05', y='1995.5', width='4294.1', height='60', transform='translate(-294.9 3702.54) rotate(-80.48)')
      rect.cls-1(x='525.5', y='1665.1', width='60', height='2928.79', transform='translate(-1277.63 532.97) rotate(-25.16)')
      rect.cls-1(x='-814.3', y='3223', width='3595.59', height='60', transform='translate(-1295.37 731.88) rotate(-25.29)')
      rect.cls-1(x='1240.5', y='394.21', width='60', height='3214.59', transform='translate(-1097.63 1891.35) rotate(-54.93)')
      rect.cls-1(x='766', y='-471.62', width='60', height='4646.24', transform='translate(-293.61 156.09) rotate(-9.46)')
      rect.cls-1(x='270', y='3043.05', width='60', height='1329.9', transform='translate(-2399.22 1148.03) rotate(-41.89)')
      rect.cls-1(x='1500.02', y='3579', width='1755.95', height='60', transform='translate(-1903.21 3016.56) rotate(-48.74)')
      rect.cls-1(x='1505.5', y='1904.86', width='60', height='3274.28', transform='translate(-2300.76 3973.98) rotate(-72.99)')
      rect.cls-1(x='1346.5', y='-339.35', width='60', height='3887.7', transform='translate(-580.43 2404.25) rotate(-71.6)')

  .layer.layer-2
    svg(data-name='layer 2', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 2500 4000')    
      rect.cls-1(x='1214.5', y='-588.39', width='60', height='5227.79', transform='translate(-115.3 75.54) rotate(-3.32)')
      rect.cls-1(x='-358.42', y='521', width='3281.84', height='60', transform='translate(-104.74 705.86) rotate(-29.62)')
      rect.cls-1(x='1511.5', y='-1145.87', width='60', height='2695.73', transform='translate(803.79 1570.5) rotate(-69.14)')
      rect.cls-1(x='-186.33', y='1579', width='3287.67', height='60', transform='translate(-185.81 190.3) rotate(-7.02)')
      rect.cls-1(x='85.28', y='3594.5', width='2888.43', height='60', transform='translate(-1929.55 1750.64) rotate(-38.68)')
      rect.cls-1(x='1424.5', y='1416.43', width='60', height='3612.14', transform='translate(-2021.08 3870.91) rotate(-76.28)')
      rect.cls-1(x='535.06', y='2688.5', width='3607.88', height='60', transform='translate(-1050.97 3888.66) rotate(-68.34)')
      rect.cls-1(x='1136.5', y='-249.53', width='60', height='3681.07', transform='translate(-799.68 1752.65) rotate(-58.45)')
      rect.cls-1(x='-513.9', y='43', width='1537.8', height='60', transform='translate(-4.74 126.74) rotate(-27.67)')
      rect.cls-1(x='1313.5', y='-1375.05', width='60', height='3184.11', transform='translate(914.11 1508.4) rotate(-80.78)')
      rect.cls-1(x='-568.38', y='667', width='2803.76', height='60', transform='translate(-247.94 801.97) rotate(-45.45)')
      rect.cls-1(x='-228.22', y='415', width='3371.43', height='60', transform='translate(-6.94 23.4) rotate(-0.92)')
      rect.cls-1(x='-407.61', y='1345', width='3532.22', height='60', transform='translate(-419.6 617.05) rotate(-22.26)')
      rect.cls-1(x='2168', y='-480.34', width='60', height='2894.68', transform='translate(-156.81 1437.27) rotate(-35.04)')
      rect.cls-1(x='1604.5', y='-943.54', width='60', height='3875.08', transform='translate(-238.5 1383.22) rotate(-43.04)')
      rect.cls-1(x='-714.65', y='2188', width='3786.3', height='60', transform='translate(-583.7 428.29) rotate(-16.57)')
      rect.cls-1(x='695.5', y='1400.89', width='60', height='3397.22', transform='translate(-1822.08 1190.81) rotate(-39.98)')
      rect.cls-1(x='1157.5', y='426.75', width='60', height='3605.51', transform='translate(-1315.12 2572.62) rotate(-69.77)')
      rect.cls-1(x='1433.5', y='998', width='60', height='3705', transform='translate(-1600.32 3788.69) rotate(-79.85)')
      rect.cls-1(x='1115.5', y='1854.29', width='60', height='3305.42', transform='translate(-2541.88 3386.95) rotate(-70.05)')
      rect.cls-1(x='342', y='3084.56', width='60', height='1450.87', transform='matrix(0.61, -0.79, 0.79, 0.61, -2879.3, 1789.23)')
      rect.cls-1(x='-624.23', y='2907.5', width='3569.45', height='60', transform='translate(-1260.89 909.56) rotate(-28.5)')
      rect.cls-1(x='1127.5', y='-1014.34', width='60', height='3314.67', transform='translate(160.65 1514.52) rotate(-70.21)')
      rect.cls-1(x='-1026.82', y='1887.5', width='5142.64', height='60', transform='translate(-865.02 2423.97) rotate(-63.02)')
      path.cls-1(d='M2681,3837C2645.25,3789.33-145.54-77.84-264.33-242.44l48.65-35.11C-186.58-237.25,2693.58,3753.77,2729,3801Z')
      rect.cls-1(x='1013.5', y='284.4', width='60', height='3926.2', transform='translate(-1400.38 1838.12) rotate(-55.59)')
      rect.cls-1(x='1154.5', y='223.11', width='60', height='4630.78', transform='translate(-1178.77 1034.52) rotate(-32.51)')
      rect.cls-1(x='2285', y='-263.96', width='60', height='1093.93', transform='translate(197.9 1261.36) rotate(-31.77)')
      rect.cls-1(x='180', y='3085.07', width='60', height='1233.86', transform='translate(-1912.93 661.92) rotate(-31.68)')

  .layer.layer-3
    svg(data-name='layer 3', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 2500 4000')
      rect.cls-1(x='-435.19', y='636', width='3395.38', height='60', transform='translate(-38.43 78.6) rotate(-3.51)')
      rect.cls-1(x='778.5', y='966.14', width='60', height='3948.73', transform='matrix(0.65, -0.76, 0.76, 0.65, -1943.62, 1626.71)')
      rect.cls-1(x='-838.91', y='2640.5', width='4634.83', height='60', transform='translate(-1521.17 2105.25) rotate(-50.36)')
      rect.cls-1(x='1565.5', y='-912.18', width='60', height='5863.36', transform='translate(-842.09 1193.58) rotate(-32.97)')
      rect.cls-1(x='1478.5', y='-234', width='60', height='4584.01', transform='translate(-899.8 2901.21) rotate(-73.06)')
      rect.cls-1(x='-688', y='1411', width='4056.99', height='60', transform='translate(-616.32 1230.59) rotate(-40.93)')
      rect.cls-1(x='2087', y='-588.29', width='60', height='2564.58', transform='translate(-63.02 1153.16) rotate(-30.04)')
      rect.cls-1(x='-637.35', y='518.5', width='1742.69', height='60', transform='translate(-347.69 417.2) rotate(-54.18)')
      rect.cls-1(x='-1012.3', y='2004.5', width='4963.6', height='60', transform='translate(-950.89 2698.06) rotate(-69.49)')
      rect.cls-1(x='1532.5', y='-296.58', width='60', height='4884.15', transform='translate(-489.6 462.21) rotate(-14.57)')
      rect.cls-1(x='-1127.02', y='958', width='4011.05', height='60', transform='translate(-98.62 97.41) rotate(-6.01)')
      rect.cls-1(x='1559.5', y='715.1', width='60', height='4246.8', transform='translate(-1401.14 4118.99) rotate(-83.93)')
      rect.cls-1(x='1199.5', y='1677.88', width='60', height='3541.24', transform='translate(-2361.96 4159.32) rotate(-81.57)')
      rect.cls-1(x='365.5', y='2678.58', width='60', height='2132.84', transform='translate(-1997.72 837.43) rotate(-33.43)')
      rect.cls-1(x='908.5', y='-639.31', width='60', height='5185.61', transform='translate(-143.9 75.91) rotate(-4.3)')
      rect.cls-1(x='-103.44', y='3622.5', width='3277.87', height='60', transform='translate(-843.99 484.45) rotate(-14.11)')
      rect.cls-1(x='1104', y='2463.23', width='60', height='3033.53', transform='translate(-2983.78 3567.36) rotate(-68.37)')
      rect.cls-1(x='-945.97', y='1033', width='3420.95', height='60', transform='translate(-534.32 897.18) rotate(-47)')
      rect.cls-1(x='1235.5', y='-758.7', width='60', height='3695.39', transform='translate(-305.88 1653.06) rotate(-60.46)')

  .layer.layer-4 
    svg(data-name='layer 4', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 2500 4000')
      rect.cls-1(x='-144.43', y='313', width='1436.85', height='60', transform='translate(-94.3 365.43) rotate(-32.78)')
      rect.cls-1(x='1445', y='-646.71', width='60', height='2542.42', transform='translate(166.44 1548.25) rotate(-58.17)')
      rect.cls-1(x='-96.23', y='1020', width='2711.46', height='60', transform='translate(-189.7 282.75) rotate(-11.92)')
      rect.cls-1(x='1240.5', y='460.74', width='60', height='3042.52', transform='translate(-1081.48 2085.27) rotate(-59.85)')
      rect.cls-1(x='-112.35', y='3349.5', width='2725.69', height='60', transform='translate(-924.72 506.66) rotate(-16.83)')
      rect.cls-1(x='-877.42', y='1973', width='4243.84', height='60', transform='matrix(0.26, -0.97, 0.97, 0.26, -1013.11, 2684.16)')
      rect.cls-1(x='1116.43', y='3200', width='1910.14', height='60', transform='translate(-1760.35 3432.26) rotate(-60.35)')
      rect.cls-1(x='-80.75', y='1702.5', width='2680.5', height='60', transform='translate(-234.63 197.75) rotate(-8.22)')
      rect.cls-1(x='-659.52', y='2495.5', width='3947.03', height='60', transform='translate(-1475.96 1959.05) rotate(-51.04)')
      rect.cls-1(x='1225', y='-937.21', width='60', height='2749.42', transform='matrix(0.14, -0.99, 0.99, 0.14, 651.29, 1621.54)')
      rect.cls-1(x='2206', y='-165.76', width='60', height='2537.51', transform='matrix(0.97, -0.25, 0.25, 0.97, -205.5, 597.62)')
      rect.cls-1(x='1292', y='969.01', width='60', height='2874.98', transform='translate(-1118.17 3665.27) rotate(-88.51)')
      rect.cls-1(x='1208.5', y='961.87', width='60', height='3616.26', transform='translate(-1618.37 1747.72) rotate(-46.22)')
      rect.cls-1(x='1063', y='1881.23', width='60', height='2848.53', transform='translate(-2289.59 2481.46) rotate(-58.01)')
      rect.cls-1(x='359', y='-100.23', width='60', height='4168.45', transform='translate(-174.57 42.36) rotate(-5.09)')
      rect.cls-1(x='-157.71', y='598', width='2794.42', height='60', transform='translate(-122.67 353.69) rotate(-15.48)')
      rect.cls-1(x='1365.5', y='-642.88', width='60', height='3682.76', transform='translate(-437.43 1353.99) rotate(-45.51)')
      rect.cls-1(x='-1177.24', y='1647.5', width='3930.47', height='60', transform='translate(-1065.25 1657.21) rotate(-64.21)')
      rect.cls-1(x='-309.98', y='2824.5', width='3168.97', height='60', transform='translate(-1215.02 963.78) rotate(-28.72)')
      rect.cls-1(x='1286.5', y='-311.68', width='60', height='3133.37', transform='translate(-247.34 2183.76) rotate(-74.34)')
      rect.cls-1(x='1743.5', y='-726.2', width='60', height='1820.39', transform='translate(936.6 1758.41) rotate(-67.93)')
