- var url = build.production ? site.url.production : site.url.dev;

.wrapper.site-footer
  .container
    .block.sm-12.copyright-info
      | Brian Hayes &copy; 2017
      
    .block.sm-12.social-icons
      +socialIconBar(
        'twitter',
        'github',
        'codepen',
        'stackoverflow',
        'linkedin'
      )
    .block.sm-12.extra-links
      ul.nav-horizontal
        - var styleguideLink = url + '/styleguide/'
        li
          a(href=helpers.url('/styleguide/')) Styleguide
        li
          a(href=helpers.url('/docs/')) Documentation
        
