include ../mixins/forms.pug
- 
  var links = [
    ['/', 'Home'],
    ['/my-work/', 'My Work'], 
    ['/my-skills/', 'My Skills'], 
    ['/about-me/', 'About Me']
  ];

.wrapper.site-footer
  .container
    .block.sm-12
      h2 Hire Me, or Get in Touch
    .block.sm-12.md-6.email
      //- a(href="mailto:bjoeyhayes@gmail.com") BJoeyHayes@gmail.com
      +contactForm('footer-contact-form', 'https://formspree.io/xyynnaqa', { light: true })
    .block.sm-12.md-6.social-icons
      +socialIconBar(
        'twitter',
        'github',
        'codepen',
        'stackoverflow',
        'linkedin'
      )
    .block.sm-12
      h2 Site Links
    .block.sm-12.links
      ul.nav-horizontal
        each link in links
          li
            a(href=helpers.url(link[0])) #{link[1]}
    .block.sm-12.extra-links
      ul.nav-horizontal
        li
          a(href=helpers.url('/styleguide/')) Styleguide
        li
          a(href=helpers.url('/docs/')) Documentation
        
    .block.sm-12.md-4.copyright-info
      | Brian Hayes &copy; 2017 All Rights Reserved
