include ../mixins/forms.pug
- 
  var links = [
    ['/', 'Home'],
    ['/my-work/', 'My Work'], 
    ['/my-skills/', 'My Skills'], 
    ['/about-me/', 'About Me']
  ];
+pane('mainNav', 'left', 'main-nav-pane', {responsive: 'xl-down'})
  .conatiner.nav-header
    .block.sm-12
      h1 Site Navigation
  //- Main Nav
  .container.main-nav
    
    .block.sm-12
      h2 Site Links
    nav.block.sm-12
      //- Main Site Links
      h3 Main
      ul.nav-vertical
        each link in links
          li
            a(href=helpers.url(link[0])) #{link[1]}
      //- Extra Links
      h3 Extra
      ul.nav-vertical
        li
          a(href=helpers.url('/styleguide/')) Styleguide
        li
          a(href=helpers.url('/docs/')) Documentation
    .block.sm-12
      h2 Get in Touch 
    .block.sm-12
      h3 Social Media
    .block.sm-12
      +socialIconBar(
        'twitter',
        'github',
        'codepen',
        'stackoverflow',
        'linkedin'
      )
    .block.sm-12.contact-email
      h3 Send a Message
    .block.sm-12
      //- a(href="mailto:bjoeyhayes@gmail.com") BJoeyHayes@gmail.com
      +contactForm('nav-contact-form', 'https://formspree.io/xyynnaqa')
      
