- 
  var links = [
    ['/', 'Home'],
    ['/my-work/', 'My Work'], 
    ['/my-skills/', 'My Skills'], 
    ['/about-me/', 'About Me']
  ];
+pane('mainNav', 'left', 'main-nav', {responsive: 'sm md'})
  .conatiner

    //- Main Nav
    .block.sm-12
      nav.main-nav
        each link in links
          a(href=helpers.url(link[0])) #{link[1]}

    //- Social Links
    .block.sm-12
      +socialIconBar(
        'twitter',
        'github',
        'codepen',
        'stackoverflow',
        'linkedin'
      )
