---
title: "Michigan Tax & Accounting Professionals"
date: 2016-4-8
description: >
  A logo created to express community as well as capture the local roots of the 
  association, formarly know as the Independant Accountants Association of Michigan. 
featured: true
wrapperClass: mtap
tags: 
  - branding 
  - design 
  - graphicDesign 
  - logo 
thumbnail:
  image: assets/imgs/projects/mtap/thumbnail.png
  title: Hayes Business Group Inc. Mark Logo
  description:
---
extends ../../layouts/project.pug


block main
  - var imageLink = 'assets/imgs/projects/mtap/';
  .container
    .block.sm-12
      h1 Rebranding 
        abbr(title="Independant Accountant's Association of Michigan") IAAM
        | to
        abbr(title="Michigan Tax & Accounting Professionals") MTAP
    
    .block.sm-12
      img(src=`${imageLink}iaam.png`)
    .block.sm-12
      +icon('close')
    .block.sm-12
      img(src=`${imageLink}MTAP-Logo-Color-Vector-01.svg`)
    
    .block.sm-12
      p.
        A logo created to express community as well as capture the local roots of the 
        association, formarly know as the Independant Accountants Association of 
        Michigan. While the hands help express the "community" imagery in a way that is 
        easy to understand by most anyone, they also hold a significance to 
        Michiganders, as it reflects a common practice amoungst locals where putting 
        hands in that position represents the shape of the state. Thus, the mark of the 
        logo is accessable by all, and still able to stike a chord with those in the 
        associations target demographic.
      p.
        The fonts are meant to help add a more modern aspect to the brand, while still 
        being professionally respectible.
