////
/// Mixins
///
/// @since 1.0.0
///

////
/// Media Query Mixin for Breakpoints
///
/// @since 0.1.0
///
/// @param {String} $_bp - The key name for the breakpoint to be used.
///
@mixin mq($_bp) {
  // If passed breakpoint is currently enabled.
  @if map-get($active-breakpoints, $_bp) {
    // Get the value of the passed breakpoint.
    $current-bp: map-get($breakpoints, $_bp);
    // Generate the Media Query string.
    $current-media: bp($current-bp);
    // If `$current-media` is 0, thus false, then just spit the content out with no query,
    @if $current-media == false {
      @content;
    }
    // Else take the value of `$current-media`, use it to make the query, and put the
    // content inside the query.
    @else {
      @media screen and (#{$current-media}) { @content; }
    }
  }
  // Else throw a warning.
  @else {
    @warn '#{$_bp} is not an enabled breakpoint. Please check the $active-breakpoints map in _settings.scss.';
  }
}

////
/// Responsive Ratio
///
/// Use for creating scalable elements that must retain their ratio.
///
/// @since 1.0.0
///
@mixin responsive-ratio($_x,$_y, $_pseudo: false) {

  $_padding: unquote(( $_y / $_x ) * 100 + '%');

  @if $_pseudo {
    &::before {
      content: '';
      display: block;
      position: relative;
      width: 100%;
      padding-top: $_padding;
    }
  }

  @else {
    padding-top: $_padding;
  }
}

////
/// Placeholder Styling
///
/// @since 1.0.0
///
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

/////////////////////////////
// // // // Group // // // //
// Style Generating Mixins //
/////////////////////////////

// TODO Document styled content block color classes mixin.
@mixin generate_titled-callout-color-classes {

  $_palette: map-keys($color-palette);

  @each $_color in $_palette {
    $_color-value: map-get($color-palette, $_color);
    // @debug $color-value;
    // @debug $color;
    &.#{$_color} {
      h4,
      h5,
      h6 {
        color: $_color-value;
      }

      .titled-callout-title {
        h1,
        h2,
        h3 {
          color: $_color-value;
          border-left-color: $_color-value;
        }
      }

      .titled-callout-inner {
        // NOTE maybe replace lighten() with a function so both this and whats in settings
        //      ends up with the same percentage value, editable from one location.
        background: lighten($_color-value, 33%);
        border-left-color: $_color-value;
      }

      &::after {
        background: lighten($_color-value, 33%);
      }
    }
  }
}

@mixin generate_titled-callout-color-classes() {

  $palette: map-keys($color-palette);

  @each $color in $palette {
    $color-value: map-get($color-palette, $color);

    &.#{$color} {
      h4,
      h5,
      h6 {
        color: $color-value;
      }

      .titled-callout-title {
        h1,
        h2,
        h3 {
          color: $color-value;
          border-left-color: $color-value;
        }
      }

      .titled-callout-inner {
        // IDEA maybe replace lighten() with a function so both this and whats in settings
        //      ends up with the same percentage value, editable from one location.
        background: lighten($color-value, 33%);
        border-left-color: $color-value;
      }

      &::after {
        background: lighten($color-value, 33%);
      }
    }
  }
}
