////
/// Navigation
///
/// @since 0.1.0
///

.site-header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: z("site-header");
}

.main-nav {
  display: flex;
  flex-flow: column nowrap;
  padding-top: $topbar_height;

  .icon-button {
    text-align: left;
  }
}

.main-nav {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  text-align: center;

  a {
    padding: 0.5rem;
    font-size: 1.4rem;
    color: $navigation-color_link;
    margin: auto;
  }
}
