.overlay {
  // Size & Positioning
  position: fixed;
  width: 100%;
  height: 100vh;
  // top: 0;
  z-index: z("overlay");
  // Visibility
  opacity: 0;
  // Transition
  transition: opacity 200ms ease-in-out;
  // can't be clicked until opened
  pointer-events: none;
  // Style stuff
  background: $overlay_background-color;
  color: $overlay_text-color;
}

.overlay-open {
  opacity: 1;
  pointer-events: auto;
}

.overlay-header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: z("modal-header");

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 0.625rem;
    margin-bottom: 0;
    line-height: 1rem;
  }
}

.overlay-content {
  padding-top: $topbar_height;
}

.enable-scrolling {
  overflow: scroll;
}

.disable-scrolling {
  overflow: hidden;
  -webkit-overflow-scrolling: none;
  pointer-events: none;
}
