.titled-callout {
  // margin-left: -#{$titled-callout_left-offset};
  margin-bottom: $spacing-unit_vertical;
  color: $color-black;

  h3 {
    color: $color-black;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  h4 {
    margin-bottom: 0.3rem;
    letter-spacing: 2px;
  }

  .titled-callout-title {
    background: $titled-callout_title_background-color;
    padding-left: $titled-callout_title_left-extension;
    margin-left: -#{$titled-callout_title_left-extension};
    // Extension of content past title block
    margin-right: $titled-callout_content_right-extension;
    margin-bottom: 0;
    letter-spacing: 5px;
    text-transform: uppercase;

    h1,
    h2,
    h3 {
      color: $titled-callout_primary-color;
      margin-bottom: 0;
      border-left: $titled-callout_border-left-size solid $titled-callout_border-left-color;
      padding: $titled-callout_title-padding;
    }
  }
  // margin-left: $titled-callout_title_left-extension;

  .titled-callout-inner {
    background: $titled-callout_content_background-color;
    padding: $titled-callout_content-padding;
    // padding-bottom: 20px;
    border-left: $titled-callout_border-left-size solid $titled-callout_border-left-color;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &::after {
    height: $titled-callout_content_bottom-extension;
    content: '';
    width: calc(100% - #{$titled-callout_border-left-size});
    background: $titled-callout_content_background-color;
    display: block;
    border-left: none;
    margin-left: $titled-callout_border-left-size;
  }

  @include generate_titled-callout-color-classes;
}
