// TODO Document styled content block color classes mixin.
@mixin generate_titled-callout-color-classes {

  $_palette: map-keys($color-palette);

  @each $_color in $_palette {
    $_color-value: map-get($color-palette, $_color);
    // @debug $color-value;
    // @debug $color;
    &.#{$_color} {
      h4,
      h5,
      h6 {
        color: $_color-value;
      }

      .titled-callout-title {
        h1,
        h2,
        h3 {
          color: $_color-value;
          border-left-color: $_color-value;
        }
      }

      .titled-callout-inner {
        // NOTE maybe replace lighten() with a function so both this and whats in settings
        //      ends up with the same percentage value, editable from one location.
        background: lighten($_color-value, 33%);
        border-left-color: $_color-value;
      }

      &::after {
        background: lighten($_color-value, 33%);
      }
    }
  }
}

.titled-callout {
  // margin-left: -#{$titled-callout_left-offset};
  margin-bottom: $spacing-unit_vertical;
  color: $color-black;

  &::after {
    height: $titled-callout_content_bottom-extension;
    content: '';
    width: calc(100% - #{$titled-callout_border-left-size});
    background: $titled-callout_content_background-color;
    display: block;
    border-left: none;
    margin-left: $titled-callout_border-left-size;
  }

  &.no-content {
    &::after {
      display: none;
    }
  }

  h3 {
    color: $color-black;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  h4 {
    margin-bottom: 0.3rem;
    letter-spacing: 2px;
  }

  .titled-callout-title {
    background: $titled-callout_title_background-color;
    padding-left: $titled-callout_title_left-extension;
    margin-left: -#{$titled-callout_title_left-extension};
    // Extension of content past title block
    margin-right: $titled-callout_content_right-extension;
    margin-bottom: 0;
    letter-spacing: 5px;
    text-transform: uppercase;

    h1,
    h2,
    h3 {
      color: $titled-callout_primary-color;
      margin-bottom: 0;
      border-left: $titled-callout_border-left-size solid $titled-callout_border-left-color;
      padding: $titled-callout_title-padding;
    }
  }
  // margin-left: $titled-callout_title_left-extension;

  .titled-callout-inner {
    background: $titled-callout_content_background-color;
    padding: $titled-callout_content-padding;
    // padding-bottom: 20px;
    border-left: $titled-callout_border-left-size solid $titled-callout_border-left-color;

    p:last-child {
      margin-bottom: 0;
    }
  }

  @include generate_titled-callout-color-classes;
}
