path(d='M5.43,7.13336c5.40443-.06616,23.96339.56188,25.27937.15676,1.83153-.56383,2.18306-3.09479-2.106-2.81606C20.806,4.98078,3.82492,2.96774,1.0826,4.72287-1.83538,6.59042,1.66461,7.17945,5.43,7.13336Z')
path(d='M26.57,17.425c-5.40443-.06616-23.96339.56188-25.27937.15676C-.54093,17.018-.89245,14.487,3.39657,14.76572c7.79746.50673,24.7785-1.50631,27.52082.24881C33.83538,16.88209,30.33539,17.47112,26.57,17.425Z')
path(d='M5.43,24.86664c5.40443.06616,23.96339-.56188,25.27937-.15676,1.83153.56383,2.18306,3.09479-2.106,2.81606-7.79746-.50673-24.7785,1.50631-27.52082-.24881C-1.83538,25.40958,1.66461,24.82055,5.43,24.86664Z')
