---
title: Documentation
permalink: /docs/
bodyClass: 'documentation'
---

extends ../layouts/default.pug

block append stylesheets
  if build.production
    link(
      rel='stylesheet'
      href='/assets/css/docs.min.css'
    )
  else
    link(
      rel='stylesheet'
      href='/assets/css/docs.css'
    )

block nav
  +pane('docNav', 'left', 'doc-nav-pane', {responsive: 'lg-down'})
    .container.nav-header
      .block.sm-12
        h1 Site Documentation
    +collectionNav(collections.docs)
block header
  header.site-header
    .top-bar
      .left
        button.icon-button.open-menu(data-pane-open='docNav')
          +icon('menu')

block content
  article.wrapper
    header.container
      .block.sm-12
        .titled-callout
          .titled-callout-heading
            h1 What You'll Find in these Docs
          .titled-callout-content-wrapper
            .titled-callout-content
              p.
                This documentation contains some basic, and even in-depth at times, looks
                into the Javascript modules, and pug mixins that make this site work.
          
    section.container
      .block.sm-12
        :markdown
          ## The Basics
          
          This documentation was and is written primarily for my own use. (I may have 
          been a bit sick of forgetting how exactly to use modules I wrote weeks, or 
          months ago). In that regard, while I try to keep them good enough for anyone 
          to use, these docs are far from complete. 
    
