---
permalink: false
---

extends ../layouts/default.pug

block panes
  +pane('pen', 'above', 'pen-pane', {api: 'api'})
    .carousel-panes(data-carousel-panes='')
      //- Center
      .pane.carousel-center
        .container
          .block.sm-12(data-inject-bind='demo')
      //- Left
      .pane.carousel-left
        .container
          .block.sm-12(data-inject-bind='details')
      //- Right
      .pane.carousel-right
        .container
          .block.sm-12(data-inject-bind='code.markup')
        .container
          .block.sm-12(data-inject-bind='code.styles')
        .container
          .block.sm-12(data-inject-bind='code.scripts')
    .fixed-bottom-bar
      .nav-bar
        button.icon-button(data-panes-nav='left')
          +icon('info')
        button.icon-button(data-panes-nav='center')
          +icon('menu')
        button.icon-button(data-panes-nav='right')
          +icon('code')
      .pane-carousel-title-bar.container.sm-row.sm-nowrap
        .block.sm-12
          h4 Details
        .block.sm-12
          h4 Demo
        .block.sm-12
          h4 Code
  
  +pane('project', 'above', 'project-pane', {api: 'api'})
    .inject-wrapper(data-inject-bind='content')
  
block content
  - var activeBreakpoints = 'sm';
  - var tabAnimation = 'expandingTabs';
  .wrapper
    
    .container
      //- Short Bio
      .home-page-short-bio(
        class='block sm-12 md-9 order-md-2'
      )
        h1 Brian Hayes
        p Web Developer, Graphic Designer, Writer, Audio Engineer, and a pretty good cook.
        
      //- Mark Logo
      .block.sm-12.md-3.order-md-1.home-page-logo.sm-align-middle
        .svg-wrapper
          include ../includes/mark-logo-svg.pug
        
      //- About Me
      .block.sm-12.md-6.order-md-3.about-me
        +titledCallout('About Me', 'purple', true, activeBreakpoints, tabAnimation)
          .container
            .block.sm-12
              img.avatar(src=helpers.url('/assets/imgs/main/avi3.jpg'))
            .block.sm-12
              h4 Javascript Developer
              p.
                Creatively driven and technical minded. I love coming up with the idea
                just as much as I love bringing it to life. I want what I put my time
                and effort into to be something I can be proud of. I have a wide 
                variety of passions and interests, such as: design, music, writing, 
                media production, art, cooking, mixology, video games, sports, 
                and playing guitar.
      
      //- My Skills
      .block.sm-12.md-6.order-md-4.my-skills
        +titledCallout('My Skills', 'yellow', true, activeBreakpoints, tabAnimation)
          .container
            .block.sm-12
              h4 A Quick Overview
              p.
                Between freelance work, eLearning, pet projects, and lots and lots of 
                reading of blogs, stack overflow posts, and documentation, I've gained
                a decent amount of experience in a lot of areas.
                
            each item in data.skills.development
              .block.sm-12
                +skill(item.title, item.overall, 'yellow')
            
            each item in data.skills.design
              .block.sm-12
                +skill(item.title, item.overall, 'yellow')
                
            .block.sm-12
              a.button(href=helpers.url('/my-skills/')) See All of my Skills
              
      //- My Work
      .block.sm-12.order-md-5.my-work
        +titledCallout('My Work', 'orange', true, activeBreakpoints, tabAnimation)
          .container
            .block.sm-12
              ul.cards.portfolio
                - var pens = collections.pens || [];
                - var projects = collections.projects || [];
                - var cards = _.concat(pens, projects);
                - var aboutThisSite = _.filter(projects, {title: 'About This Site'});
                - var noDrafts = _.filter(cards, function(o) {return !o.draft;});
                - var filteredCards = _.filter(noDrafts, {featured: true});
                - var sortedCards = _.sortBy(filteredCards, 'date');
                //- console.log(aboutThisSite);
                li
                  +card(aboutThisSite[0], {animation: 'expandingCards', classes: 'card_about-this-site'})
                
                each card in sortedCards
                  li
                    +card(card, {animation: 'expandingCards'})  
          
          .container
            .block.sm-12
              :markdown
                ## On the Roadmap
                
                ### Battleship - React
                
                A Battleship game built with React. 
                
                ### Recipe Book - React & Redux
                
                A prototype app for a recipe book using React and Redux.
              
              
