extends ../layouts/default.pug

block content
  .wrapper
    
    .container
      .block.home-page-short-bio
        h1 Brian Hayes
        p Web Developer, Graphic Designer, Writer, Audio Engineer, and a pretty good cook.
      //- Mark Logo
      .block.sm-12.home-page-logo.sm-align-middle
        .svg-wrapper
          include ../includes/mark-logo-svg.pug
      //- About Me
      .block.sm-12
        .titled-callout.purple.expanding-tab(
          data-expand=''
          data-responsive='sm md'
          )
          .titled-callout-title.tab
            h2(data-expand-open='') About Me
            button.icon-button(data-expand-close='')
              +icon('close')
          .titled-callout-inner.tab-content
            p.
               Creatively driven and technical minded. I love coming up with the idea just 
               as much as I love bringing it to life. I want what I put my time and effort 
               into to be something I can be proud of. I have a wide variety of passions 
               and interests, such as: design, music, writing, media production, 
               art, cooking, mixology, video games, sports, and playing guitar.
      //- My Skills
      .block.sm-12
        +titledCallout('My Skills', 'yellow')
      //- My Work
      .block.sm-12
        +titledCallout('My Work', 'green')
