extends ../layouts/default.pug

block content
  - var menuIcon = collections.icons[0]
  .wrapper
    .container
      .block.sm-12
        h1 Here is some content!
        p.
          More Content for everyone!!!
        .hello
          .collections!= menuIcon
