extends ../layouts/default.pug

block content
  .wrapper
    
    .container
      //- Short Bio
      .block.sm-12.md-9.order-md-2.home-page-short-bio
        h1 Brian Hayes
        p Web Developer, Graphic Designer, Writer, Audio Engineer, and a pretty good cook.
        
      //- Mark Logo
      .block.sm-12.md-3.order-md-1.home-page-logo.sm-align-middle
        .svg-wrapper
          include ../includes/mark-logo-svg.pug
          
      //- About Me
      .block.sm-12.md-6.order-md-3
        +titledCallout('About Me', 'purple', true)
          .container
            .block.sm-12 * Add Face Pic Here *
            .block.sm-12
              p.
                Creatively driven and technical minded. I love coming up with the idea
                just as much as I love bringing it to life. I want what I put my time
                and effort into to be something I can be proud of. I have a wide 
                variety of passions and interests, such as: design, music, writing, 
                media production, art, cooking, mixology, video games, sports, 
                and playing guitar.
      
      //- My Skills
      .block.sm-12.md-6.order-md-4
        +titledCallout('My Skills', 'yellow', true)
          .container
            .block.sm-12
              p Some Stuff
      
      //- My Work
      .block.sm-12.order-md-5
        +titledCallout('My Work', 'orange', true)
          .container
            .block.sm-12
              ul.cards.portfolio
                - var pens = collections.pens || [];
                - var projects = collections.projects || [];
                - var cards = _.concat(pens, projects);
                - var filteredCards = _.filter(cards, {featured: true});
                - var sortedCards = _.sortBy(filteredCards, 'date');
                
                each card in sortedCards
                  li
                    +card(card)  
