extends ../layouts/default.pug

block panes
  +pane('pen', 'above', 'pen-pane', 'api')
    .carousel-panes(data-carousel-panes='')
      //- Center
      .pane.carousel-center
        .container
          .block.sm-12(data-inject-bind='demo')
      //- Left
      .pane.carousel-left
        .container
          .block.sm-12(data-inject-bind='details')
      //- Right
      .pane.carousel-right
        .container
          .block.sm-12(data-inject-bind='code.markup')
        .container
          .block.sm-12(data-inject-bind='code.styles')
        .container
          .block.sm-12(data-inject-bind='code.scripts')
    .fixed-bottom-bar
      .nav-bar
        button.icon-button(data-panes-nav='left')
          +icon('info')
        button.icon-button(data-panes-nav='center')
          +icon('menu')
        button.icon-button(data-panes-nav='right')
          +icon('code')
      .pane-carousel-title-bar.container.sm-row.sm-nowrap
        .block.sm-12
          h4 Details
        .block.sm-12
          h4 Demo
        .block.sm-12
          h4 Code
  
  +pane('project', 'above', 'project-pane', 'api')
    .wrapper(data-inject-bind='content')
  
block content
  - var activeBreakpoints = 'sm';
  .wrapper
    
    .container
      //- Short Bio
      .home-page-short-bio(
        class='block sm-12 md-9 order-md-2'
      )
        h1 Brian Hayes
        p Web Developer, Graphic Designer, Writer, Audio Engineer, and a pretty good cook.
        
      //- Mark Logo
      .block.sm-12.md-3.order-md-1.home-page-logo.sm-align-middle
        .svg-wrapper
          include ../includes/mark-logo-svg.pug
        
      //- About Me
      .block.sm-12.md-6.order-md-3
        +titledCallout('About Me', 'purple', true, activeBreakpoints)
          .container
            .block.sm-12 * Add Face Pic Here *
            .block.sm-12
              p.
                Creatively driven and technical minded. I love coming up with the idea
                just as much as I love bringing it to life. I want what I put my time
                and effort into to be something I can be proud of. I have a wide 
                variety of passions and interests, such as: design, music, writing, 
                media production, art, cooking, mixology, video games, sports, 
                and playing guitar.
      
      //- My Skills
      .block.sm-12.md-6.order-md-4
        +titledCallout('My Skills', 'yellow', true, activeBreakpoints)
          .container
            .block.sm-12
              h3 A Quick Overview
                
            each item in data.skills.development
              .block.sm-12
                +skill(item.title, item.overall, 'yellow')
            
            each item in data.skills.design
              .block.sm-12
                +skill(item.title, item.overall, 'yellow')
                
            .block.sm-12
              a.button(href=helpers.url('/my-skills/')) See All of my Skills
              
      //- My Work
      .block.sm-12.order-md-5
        +titledCallout('My Work', 'orange', true, activeBreakpoints)
          .container
            .block.sm-12
              ul.cards.portfolio
                - var pens = collections.pens || [];
                - var projects = collections.projects || [];
                - var cards = _.concat(pens, projects);
                - var filteredCards = _.filter(cards, {featured: true});
                - var sortedCards = _.sortBy(filteredCards, 'date');
                
                each card in sortedCards
                  li
                    +card(card)  
