---
title: "Brian Hayes - My Skills"
---
extends ../layouts/default.pug
block panes
  +pane('treehouse', 'right', 'treehouse-pane')
    include ../includes/treehouse-profile.pug
    
block content
  - 
    var colors = {
      html: 'orange',
      css: 'blue',
      javascript: 'pink',
      wordpress: 'cyan',
      php: 'purple',
      'graphic-design': 'yellow',
      'ui-ux': 'purple'
    };
    var treehouseColors = {
      HTML: '#ff924e',
      CSS: '#4e86ff',
      Design: '#ffc74e',
      JavaScript: '#ff4ee2',
      PHP: '#c84eff',
      WordPress: '#4ee7ff',
      'Development Tools': '#b4ccff',
      Business: '#ffb181',
      Python: '#ff9bef',
      'Game Development': '#c1ff9b',
      Databases: '#ff664e',
      Go: '#92ff4e'
    };
    var borderString = helpers.borderGradiantString(data.treehouse.points, treehouseColors);
  .wrapper
    .container
      .block.sm-12
        h1 My Skills
      .block.sm-12
        p.
          Between eLearning, reading lots and lots of articles, stack overflow posts, 
          and my own experience gained through personal projects and a decent amount of
          freelance work, I've gained a rather useful amount of skills in web development,
          and furthered my long held skills in graphic design.
  
  .wrapper.treehouse
    .container
      .block.sm-12
        h2 Treehouse
      .block.sm-12
        :markdown
          I'm a proud student at [Treehouse](https://teamtreehouse.com/). I've learned so
          much and owe a great deal of my progress as a developer and designer to them.
      .block.sm-12
        button.button(data-pane-open='treehouse') My Profile at Treehouse
              
          
      
  .wrapper
    //- DEV
    .container
      //- Title
      .block.sm-12
        h2 Development Skills
      //- Skills loop
      each item in data.skills.development
        .block.sm-12.lg-6
          +titledCallout(item.title, colors[item.category])
            each skill in item.skills
              +skill(skill.name, skill.rating, colors[item.category])
    
    //- DESIGN
    .container
      //- Title
      .block.sm-12
        h2 Design Skills
      //- Skills loop
      each item in data.skills.design
        .block.sm-12.lg-6
          +titledCallout(item.title, colors[item.category])
            each skill in item.skills
              +skill(skill.name, skill.rating, colors[item.category])
