---
title: "my Work"
---

extends ../layouts/default.pug

//- Panes
block panes
  //- Pens Pane w/ Data Injection
  +pane('pen', 'above', 'pen-pane', 'pens-api')
    .carousel-panes(data-carousel-panes='')
      //- Center
      .pane.carousel-center
        .container(data-inject-bind='demo')
      //- Left
      .pane.carousel-left
        .container(data-inject-bind='details')
      //- Right
      .pane.carousel-right
        .container(data-inject-bind='code.markup')
        .container(data-inject-bind='code.styles')
        .container(data-inject-bind='code.scripts')
    .fixed-bottom-bar
      .nav-bar
        button.icon-button(data-panes-nav='left')
          +icon('info')
        button.icon-button(data-panes-nav='center')
          +icon('menu')
        button.icon-button(data-panes-nav='right')
          +icon('code')
      .pane-carousel-title-bar.container.sm-row.sm-nowrap
        .block.sm-12
          h4 Details
        .block.sm-12
          h4 Demo
        .block.sm-12
          h4 Code

//- Content
block content
  .container
    .block.sm-12
      h1 My Work
      
  .container
    .block.sm-12
      ul.cards.portfolio
        - var pens = collections.pens || [];
        - var projects = collections.projects || [];
        - var cards = _.concat(pens, projects);
        - var filteredCards = _.filter(cards, function(o) {return !o.draft});
        - var sortedCards = _.sortBy(filteredCards, 'date');
        

        //- Loop through Cards
        each card in sortedCards
          li
            +card(card, {animation: 'expandingCards'})
            
  .container
    .block.sm-12
      :markdown
        ## On the Roadmap
        
        ### Battleship - React
        
        A Battleship game built with React.
        
        This game will feature custom graphics and a computer player.
        
        ### Recipe Book - React & Redux
        
        A prototype app for a recipe book using React and Redux.
