meta(name='robots' content='index,follow')
meta(name='author' content='humans.txt')
meta(name='designer' content='Brian Hayes')
meta(name='owner' content='Brian Hayes')
  
link(rel='author' href='humans.txt')
