{% capture full_page %}
  {% if page.full-page.enabled %} data-full-page{% if page.full-page.responsive %} data-responsive="{{ page.full-page.responsive }}"{% endif %}{% endif %}
{% endcapture %}

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include icons.html %}

    {% include header.html %}

    <div class="site-inner">

      {% if page.overlays %}
        {% for overlay in page.overlays %}

          {% include overlay.html id=overlay.id class=overlay.class content=overlay.content%}

        {% endfor %}
      {% endif %}



      <main class="content"{{full_page}}>

        {{ content }}

      </main>

      {% include footer.html %}

    </div>

    {% include sticky-footer.html %}

    {% include scripts.html %}

  </body>

</html>
