<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include icons.html %}

    {% include header.html %}

      {% if page.overlays %}
        {% for overlay in page.overlays %}

          {% include overlay.html id=overlay.id class=overlay.class content=overlay.content%}

        {% endfor %}
      {% endif %}


    <div class="site-inner" data-focus>

      <main class="content">

        {{ content }}

      </main>

      {% include footer.html %}

    </div>

    {% include sticky-footer.html %}

    {% include scripts.html %}

  </body>

</html>
