// Base Units
// ----------
$spacing-unit_base:               to-rem(30);
$spacing-unit_vertical:           gld($spacing-unit_base, 10, false);
$spacing-unit_vertical-heading:   gld($spacing-unit_base, 10);
$spacing-unit_vertical-paragraph: gld($spacing-unit_base, 9);
$content-padding_base:            gld($spacing-unit_base, 9);

// Z-Indexes
//
// NOTE First in list has highest z-index
// ---------
$z-indexes: (
  "loading-screen",
  "expanding-tab-active",
  "overlay-header",
  "overlay",
  "transforming",
  "site-header",
  "pane-icon-button",
  "pane-top-bar",
  "pane-bottom-bar",
  "active-pane",
  "pane",
  "fixed-icons",
  "sticky-footer"

);

// Breakpoints
// -----------
$breakpoints: (
  sm:  0,
  md:  640,
  lg:  1024,
  xl:  1200,
  xxl: 1440,
);
$active-breakpoints: (
  sm:  true,
  md:  true,
  lg:  true,
  xl:  true,
  xxl: true,
);

// The Grid
// --------
$grid_gutter: $spacing-unit_base / 2;
$grid_container_max-width: to-rem(980);

// Color
// -----
$color-palette: (
  red:    #ff664e,
  orange: #ff924e,
  yellow: #ffc74e,
  green:  #92ff4e,
  cyan:   #4ee7ff,
  blue:   #4e86ff,
  purple: #c84eff,
  pink:   #ff4ee2,
);
$color-red:          #ff664e;
$color-orange:       #ff924e;
$color-yellow:       #ffc74e;
$color-green:        #92ff4e;
$color-cyan:         #4ee7ff;
$color-blue:         #4e86ff;
$color-purple:       #c84eff;
$color-pink:         #ff4ee2;
$color-white:        #fdfdfd;
$color-black:        #222;
$color-grey_lighter: #eee;
$color-grey_light:   #e5e5e5;
$color-grey:         silver;
$color-grey_dark:    #5e5e5e;
$color-grey_darker:  #333;

// Typography
// ----------

// Base Styles
$line-height_base:    1.5;
$font-size_base:      16px;
$font-size_small:     gld($font-size_base * 2, 9);
$font-weight_bold:    700;
// Vertical Rhythm (Spacing)
$vertical-rhythm: $line-height_base * $font-size_base;

$font-heading_vr_base: $vertical-rhythm;
$font-heading_vr_large: $vertical-rhythm * 2;


// Headings
$font-heading_family: "rucksack", lato, sans-serif;
$font-heading_weight: 400;
$font-heading_color:  $color-red;
$font-heading_color-secondary: $color-orange;
// $font-heading_color-tertiary: ;
$font-heading_base-size: to-rem(80);
$font-heading_sizes: (
  sm: (
    h1: 22,
    h2: 18,
    h3: 17,
    h4: 16,
    h5: 15,
    h6: 14,
  ),
  md: (
    h1: 30,
    h2: 26,
    h3: 22,
    h4: 20,
    h5: 18,
    h6: 16,
  ),
  lg: (
    h1: 36,
    h2: 30,
    h3: 26,
    h4: 22,
    h5: 20,
    h6: 18,
  )
);
// Section Heading
$section-heading_padding: to-rem(16) to-rem(10);

// Body
$font-body_family:        "aktiv-grotesk", "Roboto", Helvetica, Arial, sans-serif;
$font-body_weight:        400;
$font-body_color:         $color-white;
// Mono
$font-family_mono:        "Roboto Mono", monospace;
$font-weight_mono:        300;
// Code Blocks
$code-block_font-size: to-rem(10);
$code-block_padding: to-rem(12) to-rem(10);
$code-block_margin: gld($spacing-unit_base, 10) 0;
$code-block_background: $color-black;
// Inline Code
$inline-code_background:  $color-black;
$inline-code_text-color:  $color-purple;
$inline-code_padding:     gld($spacing-unit_base, 4) gld($spacing-unit_base, 7);
$inline-code_margin:      gld($spacing-unit_base, 4);
// Links
$link-color:              $color-purple;
$link-color_hover:        $color-cyan;
$link-color_visted:       $color-pink;
$link-decoration:         none;
// Horizontal Rule
$horizontal-rule_width:   90%;
$horizontal-rule_border: 2px solid #ccc;
$horizontal-rule_margin-bottom: 10px;
// Lists
$list_margin-left:        gld($spacing-unit_base, 9);
$list_margin-bottom:      $vertical-rhythm * 2;
$list-item_margin-bottom: $vertical-rhythm;
// Blockquotes
$blockquote-margin_left:  gld($spacing-unit_base, 9);
$blockquote-border_color: $color-purple;
$blockquote-border_left:  $color-purple solid to-rem(9);
$blockquote-padding_left: gld($spacing-unit_base, 8);
// Tables
$table-header_background: $color-purple;
$table_background:        lighten($table-header_background, 33%);
$table-header_color:      $color-white;
$table-header_padding:    gld($spacing-unit_base, 9);
$table-cell_padding:      gld($spacing-unit_base, 8);

// Syntax Highlighting - Rogue
// //
// Global
$sh-c_string:              #78ffb1;
$sh-c_comment:             $color-grey;
$sh-c_comment-special:     $color-purple;
$sh-c_variable:            $color-blue;
$sh-c_keyword:             $color-yellow;
$sh-c_keyword-constant:    $color-red;
$sh-c_keyword-declaration: $color-pink;
$sh-c_keyword-psuedo:      $color-cyan;
// $sh-c_keyword-reserved: ;
// $sh-c_keyword-type: ;
$sh-c_operator:            $color-yellow;
$sh-c_class:               $color-pink;
// HTML
$sh-c_html-tag:            $color-yellow;
$sh-c_html-attribute:      $color-pink;
// CSS
$sh-c_css-selector:        $color-pink;
$sh-c_css-property:        $color-green;
$sh-c_css-psuedo:          $color-cyan;
$sh-c_css-property-value:  $color-blue;
$sh-c_number:              $color-red;
// PHP
$sh-c_php-function-name:   $color-cyan;

// // // // // // //
// UI Components  //
// // // // // // //

// Icons
// -----
$icon-size: 1rem;

// Buttons
// -------
$button_padding: 1rem;
$button_font-size: 1rem;
$button_background: $color-purple;
$button_text-color: $color-white;

// Navigation
// -------------
// Colors
$navigation-color_background: $color-black;
$navigation-color_text:       $color-white;
$navigation-color_link:       $color-white;
$navigation-color_link-hover: $color-cyan;

// Overlay
// -------
$overlay_background-color: $color-grey_darker;
$overlay_text-color: $color-white;

// Cards
// -----

// Top Bar
// -------
$topbar-icon_size: to-rem(16);
$topbar-icon_color: $color-black;
$topbar_padding: to-rem(10);
$topbar_height: $topbar-icon_size * $line-height_base + $topbar_padding * 2;

// Titled Callout
// --------------
$titled-callout_primary-color: $color-red;
// Colors
$titled-callout_title_background-color: $color-black;
$titled-callout_border-left-color: $titled-callout_primary-color;
$titled-callout_content_background-color: lighten($titled-callout_primary-color, 30%);
// Structure
$titled-callout_title_left-extension: to-rem(12);
$titled-callout_content_right-extension: to-rem(24);
$titled-callout_content_bottom-extension: to-rem(12);
$titled-callout_border-left-size: to-rem(9);
$titled-callout_left-offset: $titled-callout_title_left-extension + $titled-callout_border-left-size;
// Padding
$titled-callout_content-padding: to-rem(15);
$titled-callout_title-padding: to-rem(8) to-rem(10);
