@import
  "functions",
  "settings",
  // "utility",
  "mixins"
;

.doc-nav-pane {
  .pane-content {

  }
  background: $color-grey_darker;
  &[data-responsive-state="active"] {
    .pane-content {
      text-align: center;
    }
    .nav-header {
      h1 {
        padding-top: $topbar_height;
      }
    }

  }
  &[data-responsive-state="inactive"] {
    position: relative;
    width: 20%;
    .pane-header {
      display: none;
    }
    .pane-content {
      position: fixed;
      top: 0;
      width: 20%;
      background: $color-grey_darker;
      height: 100vh;
      overflow-y: scroll;
      // padding-top: $spacing-unit_vertical;
    }
    .nav-header {
      h1 {
        position: fixed;
        width: 20%;
      }
    }
    .collection-nav {
      padding-top: 6.5rem;
    }
  }
  .nav-header {
    h1 {
      padding-top: $topbar_height;
      font-size: 1.5rem;
      background: $color-red;
      color: $color-black;
      padding: $grid_gutter;
      margin-left: -#{$grid_gutter};
      margin-right: -#{$grid_gutter};
      margin-bottom: 0;

      a {
        color: $color-black;
      }
    }
  }

  h2 {
    font-size: 1.3rem;
    padding: $grid_gutter;
    margin-left: -#{$grid_gutter};
    margin-right: -#{$grid_gutter};
    background: $color-black;
  }
  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
}

p {
  max-width: 40rem;

  &:last-child {
    margin-bottom: 0;
  }
}
article {
  header {
    .titled-callout {
      max-width: to-rem(700);
      .titled-callout-content {
        font-size: 1.3rem;
      }
    }
  }
}
