
@charset "utf-8";

// Import partials
@import
  // SCSS stuff
  'functions',
  'settings',
  'mixins',
  'animations',
  // Base
  'resets',
  'base',
  'typography',
  'media',
  'layout',
  'grid',
  // Components
  'background',
  'navigation',
  'icons',
  'icon-bar',
  'buttons',
  'tags',
  'cards',
  'topbar',
  'footer',
  'filter-bar',
  'cards',
  'overlay',
  'titled-callout',
  'skills',
  'expand',
  'loading-screen',
  // 'fullscreen-panes',
  'panes',
  'pane-activator-tab',
  'syntax-highlighting',
  // Pages
  'home'
;

#debug-timer {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: auto;
  height: auto;
  padding: 1rem;
  background: red;
  color: white;
  font-size: 0.75rem;
}
