rect(x='2.98' y='20.56' width='26.05' height='4.56' rx='2.28' ry='2.28' transform='translate(18.19 -4.96) rotate(39.52)')
rect(x='2.98' y='6.88' width='26.05' height='4.56' rx='2.28' ry='2.28' transform='translate(-2.17 12.28) rotate(-39.52)')
