rect(x='2.98' y='20.56' width='26.05' height='4.56' rx='2.28' ry='2.28' transform='translate(42.87 30.27) rotate(140.48)')
rect(x='2.98' y='6.88' width='26.05' height='4.56' rx='2.28' ry='2.28' transform='translate(22.51 26.41) rotate(-140.48)')
