rect(x='8.39', y='14.77', width='15.22', height='2.46', rx='1.21', ry='1.21', transform='translate(35.8 5.06) rotate(106.08)')
rect(x='-0.58', y='12.28', width='13.64', height='2.46', rx='1.21', ry='1.21', transform='translate(-5.36 4.19) rotate(-26.42)')
rect(x='-0.58', y='17.26', width='13.64', height='2.46', rx='1.21', ry='1.21', transform='translate(8.88 -0.84) rotate(26.42)')
rect(x='18.94', y='12.28', width='13.64', height='2.46', rx='1.21', ry='1.21', transform='translate(42.82 37.07) rotate(-153.58)')
rect(x='18.94', y='17.26', width='13.64', height='2.46', rx='1.21', ry='1.21', transform='translate(57.06 23.59) rotate(153.58)')
