rect(x='15.24', y='12.75', width='4.56', height='16.84', rx='2.28', ry='2.28')
circle(cx='17.52', cy='7.7', r='2.8')
rect(x='13.43', y='21.87', width='4.56', height='8.71', rx='2.28', ry='2.28', transform='translate(-14.86 25.52) rotate(-57.75)')
