polygon.cls-2(points='25.33 29.155 25.33 20.582 28.176 20.582 28.176 32 2.494 32 2.494 20.582 5.339 20.582 5.339 29.155 25.33 29.155')
path.cls-1(d='M8.48037,19.76905,22.448,22.68822l.59122-2.80831L9.07159,16.96074Zm1.84758-6.65127,12.933,6.02309,1.18245-2.58661-12.933-6.06Zm3.5843-6.35566,10.97459,9.127L26.69746,13.709,15.72286,4.582ZM21.00693,0l-2.291,1.69977,8.49885,11.455,2.291-1.69977ZM8.18476,26.27252H22.448V23.42725H8.18476Z')
