<div class="carousel-panes" data-panes>

  <section id="demo" class="pane center">
    <div class="container">

      <div class="block">
        <h1>Demo Pane</h1>
      </div>

    </div>
  </section>

  <section id="details" class="pane left">
    <div class="container">

      <div class="block">
        <h1>Details Pane</h1>
      </div>

    </div>
  </section>

  <section id="code" class="pane right">
    <div class="container">

      <div class="block">
        <h1>Code Pane</h1>
      </div>

    </div>
  </section>

</div>

<div class="fixed-bottom-bar">
  <div class="nav-bar">

    <button data-panes-nav="left">
      {% include icon.html id="menu" %}
    </button>

    <button data-panes-nav="center">
      {% include icon.html id="menu" %}
    </button>

    <button data-panes-nav="right">
      {% include icon.html id="menu" %}
    </button>

  </div>

  <div class="pane-carousel-title-bar container sm-row sm-nowrap">
    <div class="block sm-12">
      <h4>Details</h4>
    </div>
    <div class="block sm-12">
      <h4>Demo</h4>
    </div>
    <div class="block sm-12">
      <h4>Code</h4>
    </div>
  </div>

</div>
