<div class="fullscreen-panes" data-panes>

  <!-- PANE - LEFT -->
  <div id="details" class="pane left" data-pane>
    <div class="container">


      <div class="block sm-12">
        <h1>A Cool Title to Love</h1>
      </div>

      <div class="block sm-12" style="margin-bottom: 1rem">
        <a href="#" class="button">
          See the Blog Post >
        </a>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <div class="icon-bar">

          <span class="icon">
         <svg><use xlink:href="#github"></use></svg>
       </span>

          <span class="icon">
         <svg><use xlink:href="#codepen"></use></svg>
       </span>

          <span class="icon">
         <svg><use xlink:href="#twitter"></use></svg>
       </span>

          <span class="icon">
         <svg><use xlink:href="#facebook"></use></svg>
       </span>

        </div>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

    </div>
  </div>



  <!-- PANE - CENTER -->
  <div id="demo" class="pane center" data-pane>
    <div class="container">


      <div class="block sm-12">
        <h1>A Cool Title to Love</h1>
      </div>

      <div class="block sm-12" style="margin-bottom: 1rem">
        <a href="#" class="button">
          See the Blog Post >
        </a>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <div class="icon-bar">

          <span class="icon">
         <svg><use xlink:href="#github"></use></svg>
       </span>

          <span class="icon">
         <svg><use xlink:href="#codepen"></use></svg>
       </span>

          <span class="icon">
         <svg><use xlink:href="#twitter"></use></svg>
       </span>

          <span class="icon">
         <svg><use xlink:href="#facebook"></use></svg>
       </span>

        </div>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

    </div>
  </div>



  <!-- PANE - CENTER -->
  <div id="code" class="pane right" data-pane>
    <div class="container">


      <div class="block sm-12">
        <h1>A Cool Title to Love</h1>
      </div>

      <div class="block sm-12" style="margin-bottom: 1rem">
        <a href="#" class="button">
          See the Blog Post >
        </a>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <div class="icon-bar">

          <span class="icon">
         <svg><use xlink:href="#github"></use></svg>
       </span>

          <span class="icon">
         <svg><use xlink:href="#codepen"></use></svg>
       </span>

          <span class="icon">
         <svg><use xlink:href="#twitter"></use></svg>
       </span>

          <span class="icon">
         <svg><use xlink:href="#facebook"></use></svg>
       </span>

        </div>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

      <div class="block sm-12">
        <p>
          Inmensae subtilitatis, obscuris et malesuada fames. Excepteur sint obcaecat cupiditat non proident culpa. Quo usque tandem abutere, Catilina, patientia nostra? Curabitur est gravida et libero vitae dictum. Integer legentibus erat a ante historiarum dapibus.
        </p>
      </div>

    </div>
  </div>


</div>

<div class="fixed-bottom-bar">
  <div class="nav-bar" data-panes-nav="example">


    <button data-pane-go="left">
   <span class="icon">
     <svg><use xlink:href="#menu"></use></svg>
   </span>
 </button>

    <button data-pane-go="center">
    <span class="icon">
     <svg><use xlink:href="#menu"></use></svg>
   </span>
 </button>

    <button data-pane-go="right">
    <span class="icon">
     <svg><use xlink:href="#menu"></use></svg>
   </span>
 </button>


  </div>
</div>
